{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}
{% load static %}

{% block title %}پروفایل - ایجاد مقاله{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">
        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        {% if request.user.avatar %}
                            <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر آواتار">
                        {% else %}
                            <img class="rounded-full" src="/static/images/team11.jpg" alt="تصویر آواتار">
                        {% endif %}                     </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>

                    </div>
                </div>
            </div>
            <!-- new article -->
            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">
                <h3 class="fs-22 font-weight-semi-bold">مقاله جدید</h3>
            </div>

            <form action=""
                  method="post"
                  class="MultiFile-intercepted"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}

                <div class="card card-item">
                    <div class="card-body">
                        <div class="row">

                            <!-- title -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">عنوان مقاله</label>
                                    {{ form.title }}
                                </div>
                            </div>

                            <!-- slug -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">اسلاگ</label>
                                    {{ form.slug }}
                                </div>
                            </div>

                            <!-- selected_categories -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">دسته بندی مقاله</label>
                                    {{ form.selected_categories }}
                                    </select>
                                </div>
                            </div>

                            <!-- selected_tags -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">تگ های مقاله</label>
                                    {{ form.selected_tags }}
                                </div>
                            </div>


                            <!-- status -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">وضعیت</label>
                                    {{ form.status }}
                                </div>
                            </div>

                            <!-- author -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">نویسنده</label>
                                    <input class="form-control form--control pl-3" type="text"
                                           value="{{ form.instance.author.get_full_name|default:'' }}" disabled>
                                </div>
                            </div>


                            <!-- short_description -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">شرح کوتاه از مقاله</label>
                                <div class="form-group">
                                    {{ form.short_description }}
                                </div>
                            </div>

                            <!-- text -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">متن مقاله</label>
                                <div class="form-group">{{ form.text|add_attr:"id:text" }}</div>
                            </div>

                            <!-- image -->
                            <div class="col-lg-12 mt-5">
                                <div class="form-group mb-0">
                                    <label class="label-text">تصویر مقاله</label>
                                    <div class="input-box col-lg-12 mb-5">
                                        <div class="media media-card align-items-center">
                                            <div class="media-img media-img-lg mr-4 bg-gray">
                                                {% if form.instance.image %}
                                                    <img class="mr-3" src="{{ form.instance.image.url }}"
                                                         alt="تصویر مقاله">
                                                {% else %}
                                                    <img class="mr-3" src="/static/images/team11.jpg"
                                                         alt="تصویر پیش‌فرض">
                                                {% endif %}
                                            </div>
                                            {% if not read_only %}
                                                <div class="media-body mt-3">
                                                    <div class="file-upload-wrap file-upload-wrap-2">
                                                        <div class="MultiFile-wrap" id="MultiFile2">
                                                            <input type="file" name="{{ form.image.name }}"
                                                                   id="customFileInput" class="file-upload-input">
                                                            <div class="MultiFile-list" id="MultiFile2_list"></div>
                                                        </div>
                                                        <div class="file-upload-text">
                                                            <i class="la la-photo mr-2"></i> آپلود تصویر
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- is_active -->
                            <div class="col-lg-3" style="margin-top: 40px;">
                                <div class="form-group">
                                    <label class="label-text mr-5">فعال</label>
                                    {{ form.is_active }}
                                </div>
                            </div>

                            <!-- is_delete -->
                            <div class="col-lg-3" style="margin-top: 40px;">
                                <div class="form-group">
                                    <label class="label-text mr-5">حذف شده</label>
                                    {{ form.is_delete }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {% if not read_only %}
                    <div class="course-submit-btn-box pb-4">
                        <button class="btn theme-btn" type="submit">ذخیره مقاله</button>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>


{% endblock %}