{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - ایجاد تگ{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">
        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        {% if request.user.avatar %}
                            <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر آواتار">
                        {% else %}
                            <img class="rounded-full" src="/static/images/team11.jpg" alt="تصویر آواتار">
                        {% endif %}                     </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">
                <h3 class="fs-22 font-weight-semi-bold">تگ جدید</h3>
            </div>
            <form action=""
                  method="post"
                  class="MultiFile-intercepted"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="card card-item">
                    <div class="card-body">
                        <div class="row">

                            <!-- title -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">عنوان تگ</label>
                                    {{ article_tag_form.title }}
                                    {% if article_tag_form.title.errors %}
                                        <div class="text-danger">{{ article_tag_form.title.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- is_active -->
                            <div class="col-lg-3" style="margin-top: 35px;">
                                <div class="form-check d-flex align-items-center mt-2">
                                    {{ article_tag_form.is_active }}
                                    <label class="form-check-label ml-2"
                                           for="{{ article_tag_form.is_active.id_for_label }}">
                                        فعال/غیرفعال
                                    </label>
                                </div>
                                {% if article_tag_form.is_active.errors %}
                                    <div class="text-danger">{{ article_tag_form.is_active.errors }}</div>
                                {% endif %}
                            </div>

                            <!-- is_delete -->
                            <div class="col-lg-3" style="margin-top: 35px;">
                                <div class="form-check d-flex align-items-center mt-2">
                                    {{ article_tag_form.is_delete }}
                                    <label class="form-check-label ml-2"
                                           for="{{ article_tag_form.is_delete.id_for_label }}">
                                        حذف شده/حذف نشده
                                    </label>
                                </div>
                                {% if article_tag_form.is_delete.errors %}
                                    <div class="text-danger">{{ article_tag_form.is_delete.errors }}</div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>

                {% if not article_tag_form.fields.title.disabled %}
                    <div class="course-submit-btn-box pb-4">
                        <button class="btn theme-btn" type="submit">ذخیره مقاله</button>
                    </div>
                {% endif %}

                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


            </form>
        </div>
    </div>


{% endblock %}