{% extends 'shared/_layout.html' %}
{% load static %}


{% block title %}تصاویر{% endblock %}

{% block content %}
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                    <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                    <li>تصاویر</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="gallery-area section--padding">
        <div class="container">
            <!-- category -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2 class="section__title">تصاویر هیئت نبی اکرم(ص)</h2>
                    </div>
                    <ul class="portfolio-filter pt-40px pb-40px">
                        <li data-filter="*" class="active">همه</li>
                        {% for category in categories %}
                            <li data-filter=".{{ category.slug }}">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Images -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="generic-portfolio-list row">
                        {% for image in images %}
                            <div class="generic-portfolio-item col-lg-4 {{ image.category.slug }}">
                                <div class="generic-portfolio-content">
                                    <a class="portfolio-link" href="{{ image.image.url }}" data-fancybox="gallery"
                                       data-caption="{{ image.title }}">
                                        <img src="{{ image.image.url }}" alt="{{ image.title }}">
                                        <div class="icon-element icon-element-md">
                                            <i class="la la-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}