{% extends 'shared/_layout.html' %}
{% load static %}
{% load shamsi_tags %}
{% load render_partial %}

{% block title %}
    سخنرانی
{% endblock %}
{% block content %}
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                        <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                            <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                            <li><a href="{% url 'media_app:lecture_list_page' %}">سخنرانی ها</a></li>
                            <li>{{ lecture.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="course-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <!-- video & sound & text -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="course-details-content-wrap">
                                <!-- title -->
                                <h4>{{ lecture.title }}</h4><br>

                                <!-- video -->
                                {% if lecture.video %}
                                    <p>فیلم سخنرانی - <a href="{{ lecture.video.url }}" download>دانلود</a></p>
                                    <video controls preload="metadata" style="width:100%; height:auto;">
                                        <source src="{{ lecture.video.url }}" type="video/mp4">
                                    </video>
                                {% else %}
                                    <p>هیچ فیلمی بارگذاری نشده است.</p>
                                {% endif %}

                                <!-- music -->
                                <p class="mt-3">
                                    صوت سخنرانی -
                                    <a href="{{ lecture.audio.url }}" download>دانلود</a>
                                </p>
                                <div style="width: 100%; border-radius: 0; overflow: hidden;">
                                    <audio controls class="w-100">
                                        <source src="{{ lecture.audio.url }}" type="audio/mp3">
                                    </audio>
                                </div>


                                <!-- text -->
                                <div class="pt-5">
                                    <h3 class="fs-24 font-weight-semi-bold pb-3">خلاصه سخنرانی</h3>
                                    <p class="fs-15 pb-2 text-justify">{{ lecture.text }}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- clips -->
                    {% if clips %}
                        <div class="card card-item">
                            <div class="card-body">
                                <h5 class="font-weight-semi-bold pb-4">کلیپ های تهیه شده از سخنرانی</h5>
                                <div class="row">
                                    {% for clip in clips %}
                                        <div class="col-md-4 col-sm-12 mb-4">
                                            {% if clip.video %}
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <video class="embed-responsive-item" controls preload="metadata">
                                                        <source src="{{ clip.video.url }}" type="video/mp4">
                                                    </video>
                                                </div>
                                                <p class="mt-2 text-center">
                                                    {{ clip.title }} -
                                                    <a href="{{ clip.video.url }}" download>دانلود</a>
                                                </p>
                                            {% else %}
                                                <p>{{ clip.title }} - ویدیو بارگذاری نشده است.</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    <!-- author -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="course-overview-card pt-4">
                                <h4 class="font-weight-semi-bold pb-4">در مورد سخنران</h4>
                                <div class="instructor-wrap">
                                    <div class="media media-card">
                                        <!-- avatar -->
                                        <div class="instructor-img">
                                            <a href="#" class="media-img d-block">
                                                <img class="lazy" src="{{ lecture.author.avatar.url }}"
                                                     alt="تصویر آواتار"/>
                                            </a>
                                        </div>
                                        <!-- end instructor-img -->
                                        <div class="media-body">
                                            <h5><a href="teacher-detail.html">{{ lecture.author.get_full_name }}</a>
                                            </h5>
                                            <p class="p-3 text-justify">{{ lecture.author.about_user }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if comments %}
                        <!-- comments -->
                        <div class="card card-item">
                            <div class="card-body">
                                <div class="course-overview-card pt-4">
                                    <h3 class="fs-24 font-weight-semi-bold pb-4">نظرات</h3>
                                    <div class="review-wrap">
                                        {% for comment in comments %}
                                            <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                                                <div class="media-img mr-4 rounded-full">
                                                    <img class="rounded-full lazy"
                                                         src="{{ comment.user.avatar.url }}"
                                                         alt="تصویر کاربر" style="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
                                                        <h5>{{ comment.user.get_full_name }}</h5>
                                                        <div class="review-stars">
                                                            <span class="la la-star"></span>
                                                            <span class="la la-star"></span>
                                                            <span class="la la-star"></span>
                                                            <span class="la la-star"></span>
                                                            <span class="la la-star"></span>
                                                        </div>
                                                    </div>
                                                    <span class="d-block lh-18 pb-2">{{ comment.created_date|timeago }}</span>
                                                    <p class="pb-2">{{ comment.text }}</p>
                                                    <div class="helpful-action">
                                                        <span class="d-block fs-13">آیا این بررسی مفید بود؟</span>
                                                        <button class="btn">آره</button>
                                                        <button class="btn">خیر</button>
                                                        <span class="btn-text fs-14 cursor-pointer pl-1" data-toggle="modal"
                                                              data-target="#reportModal">گزارش</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    <!-- add comment -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div id="comment-form"></div>
                            <div class="add-comment-wrap pt-5">
                                <h3 class="fs-22 font-weight-semi-bold pb-4">یک نظر اضافه کنید</h3>

                                {% if user.is_authenticated %}
                                    <form method="post" class="row"
                                          action="{% url 'media_app:lecture_detail_page' pk=lecture.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="parent_id" id="parent_id" value="">
                                        <div class="input-box col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control form--control pl-3" name="message"
                                                          placeholder="پیام بنویس" rows="10"></textarea>
                                            </div>
                                        </div>

                                        <div class="btn-box col-lg-12">
                                            <button class="btn theme-btn" type="submit">ثبت کردن نظر</button>
                                        </div>

                                    </form>
                                {% else %}
                                    <p>برای ثبت نظر باید <a href="{% url 'account_app:login_page' %}">وارد شوید</a>.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="sidebar">

                        {% render_partial 'media_app.views.SearchLectureView' %}
                        {% render_partial 'media_app.views.CategoryLecturesView' %}
                        {% render_partial 'media_app.views.ArchiveLecturesView' %}
                        {% render_partial 'media_app.views.RecentLecturesView' %}

                        <!-- tag lecture -->
                        <div class="card card-item">
                            <div class="card-body">
                                <h3 class="card-title fs-18 pb-2">برچسب های دوره</h3>
                                <div class="divider"><span></span></div>
                                <ul class="generic-list-item generic-list-item-boxed d-flex flex-wrap fs-15">
                                    {% for tag in lecture.selected_tags.all %}
                                        <li class="mr-2"><a href="{% url 'media_app:lecture_list_page' %}?tag={{ tag.id }}">{{ tag.title }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}