{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}برنامه هیئت{% endblock %}
{% block content %}
    <!-- breadcrumb -->
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                        <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                            <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                            <li>برنامه هیئت</li>
                        </ul>
                    </div>
                    <!-- end breadcrumb-content -->
                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <section class="breadcrumb-area section-padding">
        <div class="container my-4">
            <h2 class="section__title mb-5 text-center" style="color: red;">برنامه هیئت نبی اکرم (ص) در سال 1404</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">تاريخ شمسي</th>
                        <th scope="col">تاريخ شمسي</th>
                        <th scope="col">تاريخ قمری</th>
                        <th scope="col">تاريخ قمری</th>
                        <th scope="col">روز</th>
                        <th scope="col">مناسبت</th>
                        <th scope="col">شکل مراسم</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>فروردين</td>
                        <td>3</td>
                        <td>رمضان</td>
                        <td>22</td>
                        <td>يك شنبه</td>
                        <td>شب قدر – شب 23 ماه رمضان</td>
                        <td>شب زنده داری</td>

                    </tr>
                    <tr>
                        <td>–</td>
                        <td>فروردين</td>
                        <td>8</td>
                        <td>رمضان</td>
                        <td>27</td>
                        <td>جمعه</td>
                        <td>تعطیل</td>
                        <td>–</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>فروردين</td>
                        <td>15</td>
                        <td>شوال</td>
                        <td>5</td>
                        <td>جمعه</td>
                        <td>تخريب بقاع متبركه ائمه بقيع در سال 1344 ق</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>فروردين</td>
                        <td>22</td>
                        <td>شوال</td>
                        <td>12</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت حمزه – وفات حضرت عبد العظيم حسني</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>فروردين</td>
                        <td>29</td>
                        <td>شوال</td>
                        <td>19</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>5</td>
                        <td>ارديبهشت</td>
                        <td>3</td>
                        <td>شوال</td>
                        <td>24</td>
                        <td>چهار شنبه</td>
                        <td>شهادت امام صادق عليه السلام</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>6</td>
                        <td>ارديبهشت</td>
                        <td>5</td>
                        <td>شوال</td>
                        <td>26</td>
                        <td>جمعه</td>
                        <td>ولادت حضرت معصومه (ع) – روز دختر</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>7</td>
                        <td>ارديبهشت</td>
                        <td>12</td>
                        <td>ذي القعده</td>
                        <td>4</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت عباس (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>8</td>
                        <td>ارديبهشت</td>
                        <td>19</td>
                        <td>ذي القعده</td>
                        <td>11</td>
                        <td>جمعه</td>
                        <td>ولادت امام رضا (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>9</td>
                        <td>ارديبهشت</td>
                        <td>26</td>
                        <td>ذي القعده</td>
                        <td>18</td>
                        <td>جمعه</td>
                        <td>امام کاظم (ع) و امام جواد (ع)- کاظمین *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>10</td>
                        <td>ارديبهشت</td>
                        <td>30</td>
                        <td>ذي القعده</td>
                        <td>22</td>
                        <td>سه شنبه</td>
                        <td>شهادت امام رضا (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>11</td>
                        <td>خرداد</td>
                        <td>2</td>
                        <td>ذي القعده</td>
                        <td>25</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>12</td>
                        <td>خرداد</td>
                        <td>5</td>
                        <td>ذي القعده</td>
                        <td>28</td>
                        <td>دو شنبه</td>
                        <td>شهادت امام محمد تقي جواد الائمه (ع) (روز آخر ماه)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>13</td>
                        <td>خرداد</td>
                        <td>9</td>
                        <td>ذي الحجه</td>
                        <td>3</td>
                        <td>جمعه</td>
                        <td>ازدواج امام علي (ع) و حضرت زهرا (س)</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>14</td>
                        <td>خرداد</td>
                        <td>12</td>
                        <td>ذي الحجه</td>
                        <td>6</td>
                        <td>دو شنبه</td>
                        <td>شهادت امام باقر (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>15</td>
                        <td>خرداد</td>
                        <td>16</td>
                        <td>ذي الحجه</td>
                        <td>10</td>
                        <td>جمعه</td>
                        <td>عید قربان- مدح خوانی درباره امام زمان (عج) *</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>16</td>
                        <td>خرداد</td>
                        <td>20</td>
                        <td>ذي الحجه</td>
                        <td>14</td>
                        <td>سه شنبه</td>
                        <td>ولادت امام هادي (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>17</td>
                        <td>خرداد</td>
                        <td>23</td>
                        <td>ذي الحجه</td>
                        <td>17</td>
                        <td>جمعه</td>
                        <td>عيد غدير خم</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>18</td>
                        <td>خرداد</td>
                        <td>30</td>
                        <td>ذي الحجه</td>
                        <td>24</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>19</td>
                        <td>تير</td>
                        <td>5</td>
                        <td>ذي الحجه</td>
                        <td>30</td>
                        <td>پنج شنبه</td>
                        <td>شب اول محرم – حضرت مسلم (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>20</td>
                        <td>تير</td>
                        <td>6</td>
                        <td>محرم</td>
                        <td>1</td>
                        <td>جمعه</td>
                        <td>شب دوم محرم – ورود كاروان كربلا</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>21</td>
                        <td>تير</td>
                        <td>7</td>
                        <td>محرم</td>
                        <td>2</td>
                        <td>شنبه</td>
                        <td>شب سوم محرم – حضرت رقيه (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>22</td>
                        <td>تير</td>
                        <td>8</td>
                        <td>محرم</td>
                        <td>3</td>
                        <td>يك شنبه</td>
                        <td>شب چهارم محرم – حضرت حر</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>23</td>
                        <td>تير</td>
                        <td>9</td>
                        <td>محرم</td>
                        <td>4</td>
                        <td>دو شنبه</td>
                        <td>شب پنجم محرم – عبدالله بن حسن (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>24</td>
                        <td>تير</td>
                        <td>10</td>
                        <td>محرم</td>
                        <td>5</td>
                        <td>سه شنبه</td>
                        <td>شب ششم محرم – حضرت قاسم (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>25</td>
                        <td>تير</td>
                        <td>11</td>
                        <td>محرم</td>
                        <td>6</td>
                        <td>چهار شنبه</td>
                        <td>شب هفتم محرم – حضرت علي اصغر (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>26</td>
                        <td>تير</td>
                        <td>12</td>
                        <td>محرم</td>
                        <td>7</td>
                        <td>پنج شنبه</td>
                        <td>شب هشتم محرم – حضرت علي اكبر (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>27</td>
                        <td>تير</td>
                        <td>13</td>
                        <td>محرم</td>
                        <td>8</td>
                        <td>جمعه</td>
                        <td>شب تاسوعا- حضرت عباس (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>28</td>
                        <td>تير</td>
                        <td>14</td>
                        <td>محرم</td>
                        <td>9</td>
                        <td>شنبه</td>
                        <td>ظهر تاسوعا- حضرت عباس (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>29</td>
                        <td>تير</td>
                        <td>14</td>
                        <td>محرم</td>
                        <td>9</td>
                        <td>شنبه</td>
                        <td>شب عاشورا- امام حسين (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>30</td>
                        <td>تير</td>
                        <td>15</td>
                        <td>محرم</td>
                        <td>10</td>
                        <td>يك شنبه</td>
                        <td>ظهر عاشورا- امام حسين (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>31</td>
                        <td>تير</td>
                        <td>15</td>
                        <td>محرم</td>
                        <td>10</td>
                        <td>يك شنبه</td>
                        <td>شام عاشورا- حضرت زينب (س) و اسارت</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>32</td>
                        <td>تير</td>
                        <td>16</td>
                        <td>محرم</td>
                        <td>11</td>
                        <td>دو شنبه</td>
                        <td>شهادت امام سجاد عليه السلام به روايتي</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>33</td>
                        <td>تير</td>
                        <td>20</td>
                        <td>محرم</td>
                        <td>15</td>
                        <td>جمعه</td>
                        <td>حضرت زينب (س) و اسارت</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>34</td>
                        <td>تير</td>
                        <td>27</td>
                        <td>محرم</td>
                        <td>22</td>
                        <td>جمعه</td>
                        <td>شهادت امام سجاد عليه السلام به روايتي</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>35</td>
                        <td>مرداد</td>
                        <td>3</td>
                        <td>محرم</td>
                        <td>29</td>
                        <td>جمعه</td>
                        <td>ولادت امام باقر (ع) (به روايتي)- مدح و توسل بدون سینه زنی</td>
                        <td>مدح و توسل</td>

                    </tr>
                    <tr>
                        <td>36</td>
                        <td>مرداد</td>
                        <td>7</td>
                        <td>صفر</td>
                        <td>4</td>
                        <td>سه شنبه</td>
                        <td>اسارت و شهادت حضرت رقیه (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>37</td>
                        <td>مرداد</td>
                        <td>10</td>
                        <td>صفر</td>
                        <td>7</td>
                        <td>جمعه</td>
                        <td>شهادت امام حسن مجتبی (ع)- به نقل از برخی از علما</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>38</td>
                        <td>مرداد</td>
                        <td>17</td>
                        <td>صفر</td>
                        <td>14</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت علی اصغر (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>39</td>
                        <td>مرداد</td>
                        <td>22</td>
                        <td>صفر</td>
                        <td>19</td>
                        <td>چهار شنبه</td>
                        <td>اربعين حسيني (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>40</td>
                        <td>مرداد</td>
                        <td>24</td>
                        <td>صفر</td>
                        <td>21</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت عباس (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>41</td>
                        <td>مرداد</td>
                        <td>30</td>
                        <td>صفر</td>
                        <td>27</td>
                        <td>پنج شنبه</td>
                        <td>رحلت پيامبر (ص) و شهادت امام حسن (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>42</td>
                        <td>مرداد</td>
                        <td>31</td>
                        <td>صفر</td>
                        <td>28</td>
                        <td>جمعه</td>
                        <td>رحلت پيامبر (ص) و شهادت امام حسن (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>43</td>
                        <td>شهريور</td>
                        <td>1</td>
                        <td>صفر</td>
                        <td>29</td>
                        <td>شنبه</td>
                        <td>شهادت امام رضا (ع) (روز آخر ماه)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>44</td>
                        <td>شهريور</td>
                        <td>7</td>
                        <td>ربيع الاول</td>
                        <td>5</td>
                        <td>جمعه</td>
                        <td>شهادت امام حسن عسكري (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>45</td>
                        <td>شهريور</td>
                        <td>11</td>
                        <td>ربيع الاول</td>
                        <td>9</td>
                        <td>سه شنبه</td>
                        <td>امامت امام زمان (عج) و ازدواج پیامبر (س)</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>46</td>
                        <td>شهريور</td>
                        <td>14</td>
                        <td>ربيع الاول</td>
                        <td>12</td>
                        <td>جمعه</td>
                        <td>عيد الزهراء (س)- مدح امام علی (ع)</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>47</td>
                        <td>شهريور</td>
                        <td>18</td>
                        <td>ربيع الاول</td>
                        <td>16</td>
                        <td>سه شنبه</td>
                        <td>ميلاد پیامبر (ص) و امام صادق (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>48</td>
                        <td>شهريور</td>
                        <td>21</td>
                        <td>ربيع الاول</td>
                        <td>19</td>
                        <td>جمعه</td>
                        <td>شهادت علی اصغر (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>49</td>
                        <td>شهريور</td>
                        <td>28</td>
                        <td>ربيع الاول</td>
                        <td>26</td>
                        <td>جمعه</td>
                        <td>شهادت امام حسن مجتبی (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>50</td>
                        <td>مهر</td>
                        <td>4</td>
                        <td>ربيع الثاني</td>
                        <td>3</td>
                        <td>جمعه</td>
                        <td>شهادت عسکریین علیهما السلام *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>51</td>
                        <td>مهر</td>
                        <td>8</td>
                        <td>ربيع الثاني</td>
                        <td>7</td>
                        <td>سه شنبه</td>
                        <td>ولادت امام حسن عسكري (ع)- روز جهاني سالمندان</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>52</td>
                        <td>مهر</td>
                        <td>11</td>
                        <td>ربيع الثاني</td>
                        <td>10</td>
                        <td>جمعه</td>
                        <td>وفات حضرت معصومه (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>53</td>
                        <td>مهر</td>
                        <td>18</td>
                        <td>ربيع الثاني</td>
                        <td>17</td>
                        <td>جمعه</td>
                        <td>توسل به حضرت رقیه (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>54</td>
                        <td>مهر</td>
                        <td>25</td>
                        <td>ربيع الثاني</td>
                        <td>24</td>
                        <td>جمعه</td>
                        <td>توسل به حضرت زینب (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>55</td>
                        <td>آبان</td>
                        <td>2</td>
                        <td>جمادي الاولي</td>
                        <td>2</td>
                        <td>جمعه</td>
                        <td>توسل به امام علی (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>56</td>
                        <td>آبان</td>
                        <td>4</td>
                        <td>جمادي الاولي</td>
                        <td>4</td>
                        <td>يك شنبه</td>
                        <td>ولادت حضرت زينب (س)- روز پرستار</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>57</td>
                        <td>آبان</td>
                        <td>9</td>
                        <td>جمادي الاولي</td>
                        <td>9</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت عباس (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>58</td>
                        <td>آبان</td>
                        <td>13</td>
                        <td>جمادي الاولي</td>
                        <td>13</td>
                        <td>سه شنبه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 75 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>59</td>
                        <td>آبان</td>
                        <td>14</td>
                        <td>جمادي الاولي</td>
                        <td>14</td>
                        <td>چهار شنبه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 75 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>60</td>
                        <td>آبان</td>
                        <td>15</td>
                        <td>جمادي الاولي</td>
                        <td>15</td>
                        <td>پنج شنبه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 75 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>61</td>
                        <td>آبان</td>
                        <td>16</td>
                        <td>جمادي الاولي</td>
                        <td>16</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 75 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>62</td>
                        <td>آبان</td>
                        <td>23</td>
                        <td>جمادي الاولي</td>
                        <td>23</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>63</td>
                        <td>آبان</td>
                        <td>30</td>
                        <td>جمادي الاولي</td>
                        <td>30</td>
                        <td>جمعه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 95 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>64</td>
                        <td>آذر</td>
                        <td>1</td>
                        <td>جمادي الثانيه</td>
                        <td>1</td>
                        <td>شنبه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 95 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>65</td>
                        <td>آذر</td>
                        <td>2</td>
                        <td>جمادي الثانيه</td>
                        <td>2</td>
                        <td>يك شنبه</td>
                        <td>شهادت حضرت زهرا (س)- به روايت 95 روز</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>66</td>
                        <td>آذر</td>
                        <td>7</td>
                        <td>جمادي الثانيه</td>
                        <td>7</td>
                        <td>جمعه</td>
                        <td>توسل به حضرت عباس (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>67</td>
                        <td>آذر</td>
                        <td>14</td>
                        <td>جمادي الثانيه</td>
                        <td>14</td>
                        <td>جمعه</td>
                        <td>وفات ام البنين (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>68</td>
                        <td>آذر</td>
                        <td>19</td>
                        <td>جمادي الثانيه</td>
                        <td>19</td>
                        <td>چهار شنبه</td>
                        <td>ولادت حضرت زهرا (س) و تولد امام خميني ره- روز زن و مادر</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>69</td>
                        <td>آذر</td>
                        <td>21</td>
                        <td>جمادي الثانيه</td>
                        <td>21</td>
                        <td>جمعه</td>
                        <td>توسل به علی اکبر (ع) و علی اصغر (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>70</td>
                        <td>آذر</td>
                        <td>28</td>
                        <td>جمادي الثانيه</td>
                        <td>28</td>
                        <td>جمعه</td>
                        <td>ولادت امام باقر (ع) به روايتي</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>71</td>
                        <td>دي</td>
                        <td>2</td>
                        <td>رجب</td>
                        <td>2</td>
                        <td>سه شنبه</td>
                        <td>شهادت امام هادي (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>72</td>
                        <td>دي</td>
                        <td>4</td>
                        <td>رجب</td>
                        <td>4</td>
                        <td>پنج شنبه</td>
                        <td>ليلة الرَّغائب- برنامه خانواده محسنی</td>
                        <td>–</td>

                    </tr>
                    <tr>
                        <td>73</td>
                        <td>دي</td>
                        <td>5</td>
                        <td>رجب</td>
                        <td>5</td>
                        <td>جمعه</td>
                        <td>توسل به امام رضا (ع) و امام جواد (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>74</td>
                        <td>دي</td>
                        <td>9</td>
                        <td>رجب</td>
                        <td>9</td>
                        <td>سه شنبه</td>
                        <td>ولادت امام محمد تقي جواد (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>75</td>
                        <td>دي</td>
                        <td>12</td>
                        <td>رجب</td>
                        <td>12</td>
                        <td>جمعه</td>
                        <td>ولادت امام علي عليه السلام – آغاز ايام بيض</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>76</td>
                        <td>دي</td>
                        <td>14</td>
                        <td>رجب</td>
                        <td>14</td>
                        <td>يك شنبه</td>
                        <td>وفات حضرت زينب (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>77</td>
                        <td>دي</td>
                        <td>19</td>
                        <td>رجب</td>
                        <td>19</td>
                        <td>جمعه</td>
                        <td>توسل به خواهران امام حسین (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>78</td>
                        <td>دي</td>
                        <td>24</td>
                        <td>رجب</td>
                        <td>24</td>
                        <td>چهار شنبه</td>
                        <td>شهادت امام كاظم (ع)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>79</td>
                        <td>دي</td>
                        <td>26</td>
                        <td>رجب</td>
                        <td>26</td>
                        <td>جمعه</td>
                        <td>مبعث رسول اكرم صلوات الله عليه</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>80</td>
                        <td>بهمن</td>
                        <td>2</td>
                        <td>شعبان</td>
                        <td>2</td>
                        <td>پنج شنبه</td>
                        <td>ولادت امام حسين عليه السلام و روز پاسدار</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>81</td>
                        <td>بهمن</td>
                        <td>3</td>
                        <td>شعبان</td>
                        <td>3</td>
                        <td>جمعه</td>
                        <td>ولادت امام سجاد (ع) و ولادت حضرت عباس (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>82</td>
                        <td>بهمن</td>
                        <td>10</td>
                        <td>شعبان</td>
                        <td>10</td>
                        <td>جمعه</td>
                        <td>ولادت علي اكبر (ع) – روز جوان</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>83</td>
                        <td>بهمن</td>
                        <td>14</td>
                        <td>شعبان</td>
                        <td>14</td>
                        <td>سه شنبه</td>
                        <td>ميلاد امام زمان عجل الله تعالي فرجه الشريف</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>84</td>
                        <td>بهمن</td>
                        <td>17</td>
                        <td>شعبان</td>
                        <td>17</td>
                        <td>جمعه</td>
                        <td>مدح امام علی (ع) *</td>
                        <td>مدح خوانی</td>

                    </tr>
                    <tr>
                        <td>85</td>
                        <td>بهمن</td>
                        <td>24</td>
                        <td>شعبان</td>
                        <td>24</td>
                        <td>جمعه</td>
                        <td>حركت امام حسين (ع) براي قيام</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>86</td>
                        <td>اسفند</td>
                        <td>1</td>
                        <td>رمضان</td>
                        <td>2</td>
                        <td>جمعه</td>
                        <td>توسل به حضرت عباس (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>87</td>
                        <td>اسفند</td>
                        <td>8</td>
                        <td>رمضان</td>
                        <td>9</td>
                        <td>جمعه</td>
                        <td>وفات حضرت خديجه (س)</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>88</td>
                        <td>اسفند</td>
                        <td>13</td>
                        <td>رمضان</td>
                        <td>14</td>
                        <td>چهار شنبه</td>
                        <td>ولادت امام حسن مجتبي (ع)</td>
                        <td>مولودی</td>

                    </tr>
                    <tr>
                        <td>89</td>
                        <td>اسفند</td>
                        <td>15</td>
                        <td>رمضان</td>
                        <td>16</td>
                        <td>جمعه</td>
                        <td>توسل به امام حسن مجتبی (ع) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>90</td>
                        <td>اسفند</td>
                        <td>17</td>
                        <td>رمضان</td>
                        <td>18</td>
                        <td>يك شنبه</td>
                        <td>شب قدر</td>
                        <td>شب زنده داری</td>

                    </tr>
                    <tr>
                        <td>91</td>
                        <td>اسفند</td>
                        <td>19</td>
                        <td>رمضان</td>
                        <td>20</td>
                        <td>سه شنبه</td>
                        <td>شب قدر- شهادت امام علي (ع)</td>
                        <td>شب زنده داری</td>

                    </tr>
                    <tr>
                        <td>92</td>
                        <td>اسفند</td>
                        <td>21</td>
                        <td>رمضان</td>
                        <td>22</td>
                        <td>پنج شنبه</td>
                        <td>شب قدر</td>
                        <td>شب زنده داری</td>

                    </tr>
                    <tr>
                        <td>93</td>
                        <td>اسفند</td>
                        <td>22</td>
                        <td>رمضان</td>
                        <td>23</td>
                        <td>جمعه</td>
                        <td>توسل به حضرت زهرا (س) *</td>
                        <td>عزاداری</td>

                    </tr>
                    <tr>
                        <td>–</td>
                        <td>اسفند</td>
                        <td>29</td>
                        <td>رمضان</td>
                        <td>30</td>
                        <td>جمعه</td>
                        <td>تعطیل</td>
                        <td>–</td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}