{% extends 'shared/_layout.html' %}

{% block title %}
    فراموشی کلمه عبور
{% endblock %}

{% block content %}
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                    <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                    <li>فراموشی کلمه عبور</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact-area section--padding position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="card card-item">
                        <div class="card-body">
                            <h3 class="card-title text-center fs-24 lh-35 pb-4">
                                ایمیل خود را وارد کنید <br>
                            </h3>
                            <div class="section-block"></div>

                            <form method="post" class="pt-4">
                                {% csrf_token %}
                                <div class="input-box">
                                    <label class="label-text">آدرس ایمیل</label>
                                    <div class="form-group">
                                        <input class="form-control form--control" type="email" name="email">
                                        <span class="la la-envelope input-icon"></span>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <button class="btn theme-btn" type="submit">
                                        ارسال
                                        <i class="la la-arrow-left icon ml-1"></i>
                                    </button>
                                </div>
                            </form>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' or message.tags == 'error' %}
                                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mt-3"
                                             role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col-lg-7 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
{% endblock %}