{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    user-dashboard
{% endblock %}

{% block content %}
    <section class="breadcrumb-area section-padding img-bg-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                    <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'account_app:user_panel_dashboard_page' %}">پنل کاربری</a></li>
                    <li>ویرایش حساب کاربری</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blog-area section--padding">
        <div class="container">
            <div class="main-body">
                <div class="row">

                    {% render_partial 'account_app.views.user_panel_menu_component' %}

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4>ویرایش حساب کاربری</h4>
                                <hr>
                                <br>
                                <form action="{% url 'account_app:edit_user_profile_page' %}" method="post">
                                    {% csrf_token %}
                                    <!-- first_name -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">نام</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="first_name"
                                                   value="{{ user.first_name }}">
                                        </div>
                                    </div>
                                    <!-- last_name -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">نام خانوادگی</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="last_name"
                                                   value="{{ user.last_name }}">
                                        </div>
                                    </div>
                                    <!-- phone_number -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">شماره همراه</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="phone_number"
                                                   value="{{ user.phone_number }}">
                                        </div>
                                    </div>
                                    <!-- address -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">آدرس</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="address"
                                                   value="{{ user.address }}">
                                        </div>
                                    </div>
                                    <!-- about_user -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">بیوگرافی</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        <textarea type="text"
                                                  class="form-control"
                                                  name="about_user"
                                                  cols="5"
                                                  rows="10">{{ user.about_user }}
                                        </textarea>
                                        </div>
                                    </div>
                                    <!-- submit -->
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="submit" class="btn btn-primary px-4" value="ذخیره تغییرات">
                                        </div>
                                    </div>
                                </form>
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'success' or message.tags == 'error' %}
                                            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mt-3"
                                                 role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}