{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - ایجاد کاربر{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">
        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر کوچک دانش آموز">
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">
                <h3 class="fs-22 font-weight-semi-bold">کاربر جدید</h3>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                    <div class="setting-body">

                        <!-- form -->
                        <form method="post"
                              action=""
                              enctype="multipart/form-data"
                              class="row pt-10px MultiFile-intercepted">
                            {% csrf_token %}

                            <!-- avatar -->
                            <div class="input-box col-lg-12 mb-5">
                                <div class="media media-card align-items-center">
                                    <div class="media-img media-img-lg mr-4 bg-gray">
                                        {% if object.avatar %}
                                            <img class="mr-3" src="{{ object.avatar.url }}" alt="تصویر آواتار">
                                        {% else %}
                                            <img class="mr-3" src="/static/images/team11.jpg" alt="تصویر آواتار">
                                        {% endif %}


                                    </div>
                                    <div class="media-body">
                                        <div class="file-upload-wrap file-upload-wrap-2">
                                            <div class="MultiFile-wrap" id="MultiFile2"><input type="file" name="avatar"
                                                                                               class="multi file-upload-input with-preview MultiFile-applied"
                                                                                               multiple="" id="MultiFile2" value="">
                                                <div class="MultiFile-list" id="MultiFile2_list"></div>
                                            </div>
                                            <span class="file-upload-text"><i class="la la-photo mr-2"></i>یک عکس آپلود کنید</span>
                                        </div>

                                        <p class="fs-14">حداکثر اندازه فایل 5 مگابایت، حداقل ابعاد: 200x200 و فایل های مناسب jpg و png.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- first_name -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام کوچک</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="first_name" value="{{ object.first_name|default:'' }}">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>

                            <!-- last_name -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام خانوادگی</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="last_name" value="{{ object.last_name|default:'' }}">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>

                            <!-- username -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام کاربری</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="username" value="{{ object.username|default:'' }}">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>

                            <!-- email -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">آدرس ایمیل</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="email" name="email" value="{{ object.email|default:'' }}">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>

                            <!-- phone_number -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">شماره تلفن</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="phone_number" value="{{ object.phone_number|default:'' }}">
                                    <span class="la la-phone input-icon"></span>
                                </div>
                            </div>

                            <!-- groups -->
                            <div class="input-box col-lg-6">
                                <label class="label-text d-block mb-2">گروه‌ها</label>
                                <div class="form-control d-flex flex-wrap align-items-center gap-3" style="min-height: 48px;">

                                    <div class="form-check">
                                        {% for group in groups %}
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   name="groups"
                                                   value="{{ group.id }}"
                                                   id="group_{{ group.id }}"
                                                   {% if group in object.groups.all %}checked{% endif %}>
                                            <label class="form-check-label mr-5" for="group_{{ group.id }}">
                                                {{ group.name }}
                                            </label>
                                        {% endfor %}
                                        {% if request.user.is_superuser %}

                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   name="is_superuser"
                                                   id="is_superuser"
                                                   {% if object.is_superuser %}checked{% endif %}>
                                            <label class="form-check-label" for="is_superuser">
                                                Superuser
                                            </label>

                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            <!-- password1 -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">رمز عبور</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="password" name="password1" placeholder="">
                                    <span class="la la-lock input-icon"></span>
                                </div>
                            </div>

                            <!-- password2 -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">تکرار عبور</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="password" name="password2" placeholder="">
                                    <span class="la la-lock input-icon"></span>
                                </div>
                            </div>

                            <!-- address -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">آدرس</label>
                                <div class="form-group">
                                    <textarea rows="3" class="form-control form--control user-text-editor pl-3"
                                              name="address">{{ object.address|default:'' }}</textarea>
                                </div>
                            </div>

                            <!-- about_user -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">بیوگرافی</label>
                                <div class="form-group">
                                    <textarea rows="7" class="form-control form--control user-text-editor pl-3"
                                              name="about_user">{{ object.about_user|default:'' }}</textarea>
                                </div>
                            </div>

                            <!-- submit -->
                            <div class="input-box col-lg-12 py-2">
                                <button class="btn theme-btn">ذخیره</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}