{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                    <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'userprofile_app:user_panel_dashboard_page' %}">پنل کاربری</a></li>
                    <li>تغییر کلمه عبور</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="blog-area section--padding">
        <div class="container">
            <div class="main-body">
                <div class="row">

                    {% render_partial 'userprofile_app.views.user_panel_menu_component' %}

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4>تغییر کلمه عبور</h4>
                                <hr>
                                <br>
                                <form action="{% url 'userprofile_app:change_password_page' %}" method="post">
                                    {% csrf_token %}
                                    <!-- old_password -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">کلمه عبور فعلی</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" class="form-control" name="old_password">
                                        </div>
                                    </div>
                                    <!-- new_password1 -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">کلمه عبور جدید</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" class="form-control" name="new_password1">
                                        </div>
                                    </div>
                                    <!-- new_password2 -->
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">تکرار کلمه عبور</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="password" class="form-control" name="new_password2">
                                        </div>
                                    </div>
                                    <!-- submit -->
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="submit" class="btn btn-primary px-4" value="ذخیره تغییرات">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}