{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - لیست مقالات{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">

        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <!-- user avatar -->
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر کوچک">
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>


                {% comment %}</div>
            <!-- article_category section -->
            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">

                <!-- articles_category count -->
                <h3 class="fs-22 font-weight-semi-bold">
                    لیست دسته بندی مقالات
                    <span class="badge badge-primary pr-3 pl-3 pt-2 pb-2"
                          style="font-size: 14px; vertical-align: middle; margin-right: 8px;">{{ articlecategory_list.count }}</span>
                </h3>
            </div>{% endcomment %}

            </div>
            <ul class="nav nav-tabs generic-tab pb-30px" id="myTab" role="tablist">

                <!-- profile view -->
                <li class="nav-item">
                    <a class="nav-link active" id="view-profile-tab" data-toggle="tab" href="#view-profile" role="tab" aria-controls="view-profile"
                       aria-selected="false">
                        پروفایل کاربر
                    </a>
                </li>

                <!-- profile edite -->
                <li class="nav-item">
                    <a class="nav-link" id="edit-profile-tab" data-toggle="tab" href="#edit-profile" role="tab" aria-controls="edit-profile"
                       aria-selected="false">
                        ویرایش پروفایل
                    </a>
                </li>

                <!-- change password -->
                <li class="nav-item">
                    <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="true">
                        تغییر کلمه عبور
                    </a>
                </li>

                <!-- change email -->
                <li class="nav-item">
                    <a class="nav-link" id="change-email-tab" data-toggle="tab" href="#change-email" role="tab" aria-controls="change-email"
                       aria-selected="false">
                        تغییر ایمیل
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- profile view -->
                <div class="tab-pane fade show active" id="view-profile" role="tabpanel" aria-labelledby="view-profile-tab">
                    <div class="setting-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="profile-detail mb-5">
                                    <ul class="generic-list-item generic-list-item-flash">
                                        <li><span class="profile-name">تاریخ ثبت نام: </span><span
                                                class="profile-desc">{{ object.date_joined|to_shamsi }}</span>
                                        </li>
                                        <li><span class="profile-name">نام: </span><span class="profile-desc">{{ object.first_name }}</span></li>
                                        <li><span class="profile-name">نام خانوادگی: </span><span class="profile-desc">{{ object.last_name }}</span></li>
                                        <li><span class="profile-name">نام کاربری: </span><span class="profile-desc">{{ object.username }}</span></li>
                                        <li><span class="profile-name">ایمیل: </span><span class="profile-desc">{{ object.email }}</span>
                                        </li>
                                        <li><span class="profile-name">شماره تلفن: </span><span class="profile-desc">{{ object.phone_number }}</span>
                                        </li>
                                        <li>
                                            <span class="profile-name">بیو: </span>
                                            <span class="profile-desc">{{ object.about_user }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="media media-card align-items-center">
                                    <div>
                                        <img class="mr-3" style="width: 400px; border-radius: 15px" src="{{ object.avatar.url }}" alt="تصویر آواتار">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- profile edite -->
                <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                    <div class="setting-body">
                        <h3 class="fs-17 font-weight-semi-bold pb-4">ویرایش نمایه</h3>
                        <div class="media media-card align-items-center">
                            <div class="media-img media-img-lg mr-4 bg-gray">
                                <img class="mr-3" src="/images/team11.jpg" alt="تصویر آواتار">
                            </div>
                            <div class="media-body">
                                <div class="file-upload-wrap file-upload-wrap-2">
                                    <div class="MultiFile-wrap" id="MultiFile2"><input type="file" name="files[]"
                                                                                       class="multi file-upload-input with-preview MultiFile-applied"
                                                                                       multiple="" id="MultiFile2" value="">
                                        <div class="MultiFile-list" id="MultiFile2_list"></div>
                                    </div>
                                    <span class="file-upload-text"><i class="la la-photo mr-2"></i>یک عکس آپلود کنید</span>
                                </div>
                                <!-- file-upload-wrap -->
                                <p class="fs-14">حداکثر اندازه فایل 5 مگابایت، حداقل ابعاد: 200x200 و فایل های مناسب jpg و png.</p>
                            </div>
                        </div>
                        <!-- end media -->
                        <form method="post" class="row pt-40px MultiFile-intercepted">
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام کوچک</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" value="الکس">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام خانوادگی</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" value="اسمیج">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">نام کاربری</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" value="alex-admin">
                                    <span class="la la-user input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-6">
                                <label class="label-text">آدرس ایمیل</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="email" name="email" value="alexsmith@gmail.com">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">شماره تلفن</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" value="(91) 7547 622250">
                                    <span class="la la-phone input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">بیوگرافی</label>
                                <div class="form-group">
                                            <textarea class="form-control form--control user-text-editor pl-3" name="message">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </textarea>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-12 py-2">
                                <button class="btn theme-btn">ذخیره تغییرات</button>
                            </div>
                            <!-- end input-box -->
                        </form>
                    </div>
                    <!-- end setting-body -->
                </div>

                <!-- change password -->
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <div class="setting-body">
                        <h3 class="fs-17 font-weight-semi-bold pb-4">رمز عبور را تغییر دهید</h3>
                        <form method="post" class="row MultiFile-intercepted">
                            <div class="input-box col-lg-4">
                                <label class="label-text">رمز عبور قدیمی</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="رمز عبور قدیمی">
                                    <span class="la la-lock input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-4">
                                <label class="label-text">رمز عبور جدید</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="رمز عبور جدید">
                                    <span class="la la-lock input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-4">
                                <label class="label-text">رمز عبور جدید را تأیید کنید</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="رمز عبور جدید را تأیید کنید">
                                    <span class="la la-lock input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-12 py-2">
                                <button class="btn theme-btn">رمز عبور را تغییر دهید</button>
                            </div>
                            <!-- end input-box -->
                        </form>
                        <form method="post" class="pt-5 mt-5 border-top border-top-gray MultiFile-intercepted">
                            <h3 class="fs-17 font-weight-semi-bold pb-1">رمز عبور را فراموش کرده و سپس رمز عبور را بازیابی کنید</h3>
                            <p class="pb-4">
                                ایمیل اکانت خود را برای بازنشانی رمز عبور وارد کنید. سپس پیوندی به ایمیل برای بازنشانی رمز عبور دریافت خواهید کرد. اگر مشکلی در
                                مورد بازنشانی رمز عبور دارید
                                <a href="contact.html" class="text-color">با ما تماس بگیرید</a>
                            </p>
                            <div class="input-box">
                                <label class="label-text">آدرس ایمیل</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="email" name="email" placeholder="آدرس ایمیل را وارد کن">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box py-2">
                                <button class="btn theme-btn">بازیابی رمز عبور</button>
                            </div>
                            <!-- end input-box -->
                        </form>
                    </div>
                    <!-- end setting-body -->
                </div>

                <!-- change email -->
                <div class="tab-pane fade" id="change-email" role="tabpanel" aria-labelledby="change-email-tab">
                    <div class="setting-body">
                        <h3 class="fs-17 font-weight-semi-bold pb-4">تغییر ایمیل</h3>
                        <form method="post" class="row MultiFile-intercepted">
                            <div class="input-box col-lg-4">
                                <label class="label-text">ایمیل قدیمی</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="ایمیل قدیمی">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-4">
                                <label class="label-text">ایمیل جدید</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="ایمیل جدید">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-4">
                                <label class="label-text">ایمیل جدید را تایید کنید</label>
                                <div class="form-group">
                                    <input class="form-control form--control" type="text" name="text" placeholder="ایمیل جدید را تایید کنید">
                                    <span class="la la-envelope input-icon"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box col-lg-12 py-2">
                                <button class="btn theme-btn">تغییر ایمیل</button>
                            </div>
                            <!-- end input-box -->
                        </form>
                    </div>
                    <!-- end setting-body -->
                </div>

            </div>
        </div>

{% endblock %}