{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - پروفایل کاربر{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">

        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <!-- user avatar -->
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر کوچک">
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- change password -->
            <h3 class="fs-17 font-weight-semi-bold">تغییر کلمه عبور</h3>
            <hr class="pb-5">
            <div class="setting-body">
                <form method="post" class="row MultiFile-intercepted">
                    {% csrf_token %}

                    <!-- old_password -->
                    <div class="input-box col-lg-4">
                        <label class="label-text">رمز عبور قدیمی</label>
                        <div class="form-group">
                            <input class="form-control form--control" type="password" name="old_password">
                            <span class="la la-lock input-icon"></span>
                        </div>
                    </div>

                    <!-- new_password1 -->
                    <div class="input-box col-lg-4">
                        <label class="label-text">رمز عبور جدید</label>
                        <div class="form-group">
                            <input class="form-control form--control" type="password" name="new_password1">
                            <span class="la la-lock input-icon"></span>
                        </div>
                    </div>

                    <!-- new_password2 -->
                    <div class="input-box col-lg-4">
                        <label class="label-text">تکرار رمز عبور جدید</label>
                        <div class="form-group">
                            <input class="form-control form--control" type="password" name="new_password2">
                            <span class="la la-lock input-icon"></span>
                        </div>
                    </div>

                    <!-- submit -->
                    <div class="input-box col-lg-12 py-2">
                        <button type="submit" class="btn theme-btn">تغییر</button>
                    </div>
                </form>
            </div>


        </div>

{% endblock %}