{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - اسلایدر{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">

        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <!-- user avatar -->
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر کوچک">
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>

                <!-- create new article -->
                <a href="{% url 'userprofile_app:slider_create' %}"
                   class="btn btn-info d-inline-flex align-items-center new-article-btn"
                   style="background-color: #e3f2fd; color: #1976d2; border-color: #b3e5fc; font-weight: bold;">
                    <i class="la la-plus mr-2"></i><span style="font-weight: bold;">ایجاد اسلایدر جدید</span>
                </a>

            </div>

            <!-- Slider section -->
            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">

                <!-- Slider count -->
                <h3 class="fs-22 font-weight-semi-bold">
                    لیست اسلایدرها
                    <span class="badge badge-primary pr-3 pl-3 pt-2 pb-2"
                          style="font-size: 14px; vertical-align: middle; margin-right: 8px;">{{ page_obj.paginator.count }}</span>
                </h3>
            </div>

            <!-- article table -->
            <div class="table-responsive pb-4">
                <table class="table generic-table align-middle">
                    <thead>
                    <tr>
                        <th scope="col">تصویر</th>
                        <th scope="col">url اسلایدر</th>
                        <th scope="col">لینک</th>
                        <th scope="col">توضیح اسلایدر</th>
                        <th scope="col">تاریخ ایجاد</th>
                        <th scope="col">تاریخ به روزرسانی</th>
                        <th scope="col">ترتیب</th>
                        <th scope="col">اکتیو</th>
                        <th scope="col">اقدام</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for slider in slider_list %}
                        <tr>
                            <!-- image & title -->
                            <td>
                                <div class="media media-card align-items-center">
                                    <a href="{% url 'userprofile_app:slider_detail' pk=slider.id %}" class="media-img">
                                        {% if slider.image %}
                                            <img class="mr-3" src="{{ slider.image.url }}" alt="{{ slider.title }}">
                                        {% else %}
                                            <img class="mr-3" src="images/small-img.jpg" alt="تصویر">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <h5 class="fs-15"><a href="{% url 'userprofile_app:slider_detail' pk=slider.id %}">{{ slider.title|default_if_none:"-" }}</a></h5>
                                    </div>
                                </div>
                            </td>

                            <!-- url_title -->
                            <td>{{ slider.url_title|default_if_none:"-" }}</td>

                            <!-- url -->
                            <td>{{ slider.url|default_if_none:"-" }}</td>

                            <!-- short_description -->
                            <td>{{ slider.description }}</td>

                            <!-- created_at -->
                            <td>{{ slider.created_at|to_shamsi }}</td>

                            <!-- updated_at -->
                            <td>{{ slider.updated_at|to_shamsi }}</td>

                            <!-- order -->
                            <td>{{ slider.order|to_shamsi }}</td>

                            <!-- is_active -->
                            <td>
                                {% if slider.is_active %}
                                    <span style="color:green;">&#10004;</span>
                                {% else %}
                                    <span style="color:red;">&#10008;</span>
                                {% endif %}
                            </td>

                            <!-- actions -->
                            <td>
                                <div class="card-action-wrap d-flex">

                                    <!-- view -->
                                    <a href="{% url 'userprofile_app:slider_detail' pk=slider.id %}"
                                       class="icon-element icon-element-sm shadow-sm cursor-pointer ml-1 text-success"
                                       data-toggle="tooltip" title="مشاهده">
                                        <i class="la la-eye"></i>
                                    </a>

                                    <!-- update -->
                                    <a href="{% url 'userprofile_app:slider_edit' pk=slider.id %}"
                                       class="icon-element icon-element-sm shadow-sm cursor-pointer ml-1 text-warning"
                                       data-toggle="tooltip" title="ویرایش">
                                        <i class="la la-edit"></i>
                                    </a>

                                    <!-- delete -->
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal-{{ slider.id }}"
                                       class="icon-element icon-element-sm shadow-sm cursor-pointer ml-1 text-danger"
                                       data-toggle="tooltip" title="حذف">
                                        <i class="la la-trash"></i>
                                    </a>

                                    <!-- modal: delete -->
                                    <div class="modal fade modal-container" id="deleteModal-{{ slider.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalTitle-{{ slider.id }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <span class="la la-exclamation-circle fs-60 text-warning"></span>
                                                    <h4 class="modal-title fs-19 font-weight-semi-bold pt-2 pb-1"
                                                        id="deleteModalTitle-{{ slider.id }}">تصویر شما حذف خواهد شد!
                                                    </h4>
                                                    <p>آیا مطمئن هستید که می خواهید این اسلایدر را حذف کنید؟</p>
                                                    <div class="btn-box pt-4">

                                                        <form
                                                                action="{% url 'userprofile_app:slider_delete' pk=slider.id %}"
                                                                method="post">
                                                            {% csrf_token %}
                                                            <button type="button" class="btn font-weight-medium mr-3"
                                                                    data-dismiss="modal">لغو
                                                            </button>
                                                            <input type="hidden" name="id" value="{{ slider.id }}">
                                                            <button type="submit"
                                                                    class="btn theme-btn theme-btn-sm lh-30">
                                                                حذف
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- pagination -->
            {% if page_obj.paginator.count > page_obj.paginator.per_page %}
                <div class="text-center pt-3">
                    <nav aria-label="مثال ناوبری صفحه" class="pagination-box">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                       aria-label="قبلی">
                                        <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                        <span class="sr-only">قبلی</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="بعد">
                                        <span aria-hidden="true"><i class="la la-arrow-left"></i></span>
                                        <span class="sr-only">بعد</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <p class="fs-14 pt-2">نمایش 1-10 از 56 نتیجه</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}