{% load static %}
<div class="card card-item">
    <div class="card-body">
        <h3 class="card-title fs-18 pb-2">پستهای اخیر</h3>
        <div class="divider"><span></span></div>
        <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
            <a href="course-details.html" class="media-img">
                <img class="mr-3" src="{% static 'images/small-img-2.jpg' %}" alt="تصویر دوره مرتبط">
            </a>
            <div class="media-body">
                <h5 class="fs-15"><a href="course-details.html">دوره کامل جاوا اسکریپت 1400</a></h5>
                <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                <p class="text-black font-weight-semi-bold lh-18 fs-15">12.99 تومان <span class="before-price fs-14">129.99 تومان</span>
                </p>
            </div>
        </div>
        <!-- end media -->
        <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
            <a href="course-details.html" class="media-img">
                <img class="mr-3" src="{% static 'images/small-img-3.jpg' %}" alt="تصویر دوره مرتبط">
            </a>
            <div class="media-body">
                <h5 class="fs-15"><a href="course-details.html">آموزش جاوا اسکریپت برای مبتدیان</a></h5>
                <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                <p class="text-black font-weight-semi-bold lh-18 fs-15">129.99 تومان</p>
            </div>
        </div>
        <!-- end media -->
        <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
            <a href="course-details.html" class="media-img">
                <img class="mr-3" src="{% static 'images/small-img-4.jpg' %}" alt="تصویر دوره مرتبط">
            </a>
            <div class="media-body">
                <h5 class="fs-15"><a href="course-details.html">مقدمه LearnPress – افزونه LMS</a></h5>
                <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                <p class="text-black font-weight-semi-bold lh-18 fs-15">رایگان</p>
            </div>
        </div>
        <!-- end media -->
        <div class="view-all-course-btn-box">
            <a href="blog-no-sidebar.html" class="btn theme-btn w-100">مشاهده همه پست ها <i
                    class="la la-arrow-left icon ml-1"></i></a>
        </div>
    </div>
</div>