{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load static %}
{% load shamsi_tags %}
{% load humanize %}
{% load dict_filters %}


{% block title %}{% endblock %}

{% block content %}

    <!-- breadcrumb -->
    <section class="breadcrumb-area section-padding img-bg-3">
        <div class="overlay"></div>
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                    <li><a href="{% url 'main_app:index' %}">صفحه اصلی</a></li>
                    <li><a href="{% url 'blog_app:blog_list' %}">وبلاگ</a></li>
                    <li>{{ article.title }}</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- content -->
    <section class="blog-area pt-100px pb-100px">
        <div class="container">
            <div class="row">

                <!-- main -->
                <div class="col-lg-8 mb-5">

                    <!-- article_detail -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="generic-img-box-content text-center mb-5">
                                <img src="{{ article.image.url }}" width="100%" alt="">
                            </div>
                            <h4>{{ article.title }}</h4><br>
                            <p class="card-text pb-3 text-justify">{{ article.text }}</p>
                            <div class="section-block"></div>
                            <h3 class="fs-18 font-weight-semi-bold pt-3">برچسب ها</h3>
                            <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                                <ul class="generic-list-item generic-list-item-boxed d-flex flex-wrap fs-15">
                                    {% for tag in article.selected_tags.all %}
                                        <li class="mr-2"><a
                                                href="{% url 'blog_app:blog_list' %}?tag={{ tag.title|urlencode }}">{{ tag.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="section-block mt-2"></div>
                            <h3 class="fs-18 font-weight-semi-bold pt-5 pb-3">به این مطلب امتیاز بدهید</h3>
                            {% if request.user.is_authenticated %}
                                <div class="leave-rating-wrap pb-4">
                                    <div class="leave-rating leave--rating" id="rating" data-article-id="{{ article.id }}" data-csrf="{{ csrf_token }}">
                                        <input type="radio" name="rate" id="star5" value="5">
                                        <label for="star5"></label>
                                        <input type="radio" name="rate" id="star4" value="4">
                                        <label for="star4"></label>
                                        <input type="radio" name="rate" id="star3" value="3">
                                        <label for="star3"></label>
                                        <input type="radio" name="rate" id="star2" value="2">
                                        <label for="star2"></label>
                                        <input type="radio" name="rate" id="star1" value="1">
                                        <label for="star1"></label>
                                    </div>
                                    <p id="rating-message" class="text-success" style="display:none;"></p>
                                </div>
                            {% else %}
                                <a href="{% url 'account_app:login_page' %}">برای امتیاز لطفا لاگین کنید</a>
                            {% endif %}
                        </div>
                    </div>

                    <!-- about_author -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="instructor-wrap py-5">
                                <h3 class="fs-22 font-weight-semi-bold pb-4 ml-4">نویسنده</h3>
                                <div class="media media-card">
                                    <div class="media-img rounded-full avatar-lg mr-4">
                                        {% if article.author.avatar %}
                                            <img src="{{ article.author.avatar.url }}" alt="تصویر آواتار"
                                                 class="rounded-full lazy" style="">
                                        {% else %}
                                            <img src="{% static 'images/small-avatar-1.jpg' %}" alt="تصویر آواتار"
                                                 class="rounded-full lazy" style="">

                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <h5>{{ article.author.get_full_name }}</h5>
                                        <span class="d-block lh-18 pt-2 pb-2">{{ article.author.email }}</span>
                                        <p class="pb-3">{{ article.author.about_user }}</p>
                                        <ul class="social-icons social-icons-styled social--icons-styled">
                                            <li>
                                                <a href="#"><i class="la la-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="la la-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="la la-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="la la-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- rating -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div class="course-overview-card pt-4">
                                <h3 class="fs-24 font-weight-semi-bold pb-40px">بازخورد کاربران</h3>
                                <div class="feedback-wrap">
                                    <div class="media media-card align-items-center">

                                        <!-- end review-rating-summary -->
                                        <div class="review-rating-summary">
                                            <span class="stats-average__count">{{ avg_rating }}</span>
                                            <div class="rating-wrap pt-1">
                                                <div class="review-stars">
                                                    {% for star in stars_display %}
                                                        {% if star == 'full' %}
                                                            <span class="la la-star"></span>
                                                        {% elif star == 'half' %}
                                                            <span class="la la-star-half-alt"></span>
                                                        {% else %}
                                                            <span class="la la-star-o"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <span class="rating-total d-block">({{ total_votes }}) </span>
                                                <span>رتبه بندی مقاله</span>
                                            </div>
                                            <!-- end rating-wrap -->
                                        </div>

                                        <!-- review-bars -->
                                        <div class="media-body">
                                            {% for star in star_list %}
                                                <div class="review-bars d-flex align-items-center mb-2">
                                                    <div class="review-bars__text">{{ star }}&nbsp;ستاره</div>
                                                    <div class="review-bars__fill">
                                                        <div class="skillbar-box">
                                                            {% with percent=star_percentages|dict_get:star|default:0 %}
                                                                <div class="skillbar" data-percent="{{ percent }}%">
                                                                    <div class="skillbar-bar bg-3" style="width: {{ percent }}%;"></div>
                                                                </div>
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                    <div class="review-bars__percent">{{ percent }}%</div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if messages %}
                        <div class="mb-3">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- show comment -->
                    {% if comments %}
                        <div class="card card-item">
                            <div class="card-body">
                                <div class="comments-wrap pt-5" id="comments">
                                    <div class="d-flex align-items-center justify-content-between pb-4">
                                        <h3 class="fs-22 font-weight-semi-bold">نظرات <span
                                                class="ribbon ribbon-lg">{{ article_comments_count }}</span></h3>
                                    </div>
                                    <div class="section-block mb-4"></div>

                                    <div class="comment-list">
                                        {% for comment in comments %}
                                            {% if comment.is_active or request.user == comment.user %}
                                                <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4 {% if not comment.is_active %}bg-light{% endif %}">
                                                    <div class="media-img mr-4 rounded-full">
                                                        {% if comment.user and comment.user.avatar %}
                                                            <img class="rounded-full lazy" src="{{ comment.user.avatar.url }}" alt="تصویر کاربر">
                                                        {% else %}
                                                            <img class="rounded-full lazy" src="{% static 'images/small-avatar-1.jpg' %}" alt="کاربر مهمان">
                                                        {% endif %}
                                                    </div>

                                                    <div class="media-body">
                                                        <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
                                                            <h5 class="pb-2">
                                                                {% if comment.user %}
                                                                    {{ comment.user.get_full_name|default:comment.user.username }}
                                                                {% else %}
                                                                    {{ comment.name }}
                                                                {% endif %}
                                                            </h5>

                                                            <div class="review-stars">
                                                                {% if comment.user and comment.user.id in user_ratings %}
                                                                    {% with user_ratings|dict_get:comment.user.id as user_score %}
                                                                        {% for i in "12345" %}
                                                                            {% if forloop.counter <= user_score %}
                                                                                <span class="la la-star" style="color: gold;"></span>
                                                                            {% else %}
                                                                                <span class="la la-star-o" style="color: lightgray;"></span>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endwith %}
                                                                {% else %}
                                                                    {# کاربر امتیاز نداده #}
                                                                    {% for i in "12345" %}
                                                                        <span class="la la-star-o" style="color: lightgray;"></span>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <span class="d-block lh-18 pb-2">{{ comment.create_date|timeago }}</span>
                                                        <p class="pb-3">{{ comment.text }}</p>

                                                        {% if not comment.is_active and request.user == comment.user %}
                                                            <small class="text-warning">(در انتظار تأیید مدیر)</small>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                {# نمایش پاسخ‌ها #}
                                                {% for reply in comment.articlecomment_set.all %}
                                                    {% if reply.is_active or request.user == reply.user %}
                                                        <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4 review-reply">
                                                            <div class="media-img mr-4 rounded-full">
                                                                {% if reply.user and reply.user.avatar %}
                                                                    <img class="rounded-full lazy" src="{{ reply.user.avatar.url }}" alt="تصویر کاربر">
                                                                {% else %}
                                                                    <img class="rounded-full lazy" src="{% static 'images/small-avatar-1.jpg' %}"
                                                                         alt="کاربر مهمان">
                                                                {% endif %}
                                                            </div>

                                                            <div class="media-body">
                                                                <h5 class="pb-2">
                                                                    {% if reply.user %}
                                                                        {{ reply.user.get_full_name|default:reply.user.username }}
                                                                    {% else %}
                                                                        {{ reply.name }}
                                                                    {% endif %}
                                                                </h5>

                                                                <span class="d-block lh-18 pb-2">{{ reply.create_date|timeago }}</span>
                                                                <p class="pb-3">{{ reply.text }}</p>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    <!-- add_comment -->
                    <div class="card card-item">
                        <div class="card-body">
                            <div id="comment-form"></div>
                            <div class="add-comment-wrap pt-5">
                                <h3 class="fs-22 font-weight-semi-bold pb-4">یک نظر اضافه کنید</h3>
                                <form method="post" class="row" action="">
                                    {% csrf_token %}

                                    <input type="hidden" name="parent_id" id="parent_id" value="">

                                    {% if request.user.is_authenticated %}
                                        <!-- message -->
                                        <div class="input-box col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control form--control pl-3" name="message"
                                                          rows="10"></textarea>

                                            </div>
                                        </div>
                                    {% else %}
                                        <!-- name -->
                                        <div class="input-box col-lg-6">
                                            <label class="label-text">نام</label>
                                            <div class="form-group">
                                                <input class="form-control form--control" type="text" name="name">
                                                <span class="la la-user input-icon"></span>
                                            </div>
                                        </div>

                                        <!-- email -->
                                        <div class="input-box col-lg-6">
                                            <label class="label-text">پست الکترونیک</label>
                                            <div class="form-group">
                                                <input class="form-control form--control" type="email" name="email">
                                                <span class="la la-envelope input-icon"></span>
                                            </div>
                                        </div>

                                        <!-- message -->
                                        <div class="input-box col-lg-12">
                                            <div class="form-group">
                                                <textarea class="form-control form--control pl-3" name="message"
                                                          rows="10"></textarea>

                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- captcha -->
                                    <div class="input-box">
                                        <label class="label-text">عبارت امنیتی</label>
                                        <div class="form-group">
                                            <img src="{{ captcha_url }}" alt="captcha" class="captcha">
                                            <input type="hidden" name="captcha_0" value="{{ captcha_key }}" required="" id="id_captcha_0"
                                                   autocomplete="off">
                                            <input type="text" name="captcha_1" required="" id="id_captcha_1" autocapitalize="off"
                                                   autocomplete="off" autocorrect="off" spellcheck="false">
                                            <a href="#" id="refresh-captcha">↻ تغییر تصویر</a>


                                        </div>
                                    </div>

                                    <!-- submit -->
                                    <div class="btn-box col-lg-12">
                                        <button class="btn theme-btn" type="submit">ثبت کردن نظر</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- sidebar -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        {% render_partial 'blog_app.views.SearchArticlesView' %}
                        {% render_partial 'blog_app.views.CategoryArticlesView' %}
                        {% render_partial 'blog_app.views.ArchiveArticlesView' %}
                        {% render_partial 'blog_app.views.RecentArticlesView' %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}