{% extends 'shared/_layout.html' %}
{% load static %}

{% block title %}لیست مقالات{% endblock %}

{% block content %}
	<section class="breadcrumb-area section-padding img-bg-2">
            <div class="overlay"></div>
            <div class="container">
                <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="section-heading">
                        <h2 class="section__title text-white">وبلاگ سایدبار راست</h2>
                    </div>
                    <ul class="generic-list-item generic-list-item-white generic-list-item-arrow d-flex flex-wrap align-items-center">
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li>وبلاگ</li>
                        <li>وبلاگ سایدبار راست</li>
                    </ul>
                </div>
            </div>
        </section>
    <section class="blog-area section--padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="sidebar mb-5">
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">فیلد جستجو</h3>
                                    <div class="divider"><span></span></div>
                                    <form method="post">
                                        <div class="form-group mb-0">
                                            <input class="form-control form--control pl-3" type="text" name="search" placeholder="جستجوی دوره">
                                            <span class="la la-search search-icon"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">دسته بندی ها</h3>
                                    <div class="divider"><span></span></div>
                                    <div class="custom-control custom-checkbox mb-1 fs-15">
                                        <input type="checkbox" class="custom-control-input" id="catCheckbox" required="">
                                        <label class="custom-control-label custom--control-label text-black" for="catCheckbox"> تجارت <span class="ml-1 text-gray">(12,300)</span> </label>
                                    </div>
                                    <!-- end custom-control -->
                                    <div class="custom-control custom-checkbox mb-1 fs-15">
                                        <input type="checkbox" class="custom-control-input" id="catCheckbox2" required="">
                                        <label class="custom-control-label custom--control-label text-black" for="catCheckbox2"> رایط کاربری <span class="ml-1 text-gray">(12,300)</span> </label>
                                    </div>
                                    <!-- end custom-control -->
                                    <div class="custom-control custom-checkbox mb-1 fs-15">
                                        <input type="checkbox" class="custom-control-input" id="catCheckbox3" required="">
                                        <label class="custom-control-label custom--control-label text-black" for="catCheckbox3"> انیمیشن <span class="ml-1 text-gray">(12,300)</span> </label>
                                    </div>
                                    <!-- end custom-control -->
                                    <div class="custom-control custom-checkbox mb-1 fs-15">
                                        <input type="checkbox" class="custom-control-input" id="catCheckbox4" required="">
                                        <label class="custom-control-label custom--control-label text-black" for="catCheckbox4"> طراحی بازی <span class="ml-1 text-gray">(12300)</span> </label>
                                    </div>
                                    <!-- end custom-control -->
                                    <div class="collapse" id="collapseMore">
                                        <div class="custom-control custom-checkbox mb-1 fs-15">
                                            <input type="checkbox" class="custom-control-input" id="catCheckbox5" required="">
                                            <label class="custom-control-label custom--control-label text-black" for="catCheckbox5"> طراحی گرافیک <span class="ml-1 text-gray">(12,300)</span> </label>
                                        </div>
                                        <!-- end custom-control -->
                                        <div class="custom-control custom-checkbox mb-1 fs-15">
                                            <input type="checkbox" class="custom-control-input" id="catCheckbox6" required="">
                                            <label class="custom-control-label custom--control-label text-black" for="catCheckbox6"> تایپوگرافی <span class="ml-1 text-gray">(12,300)</span> </label>
                                        </div>
                                        <!-- end custom-control -->
                                        <div class="custom-control custom-checkbox mb-1 fs-15">
                                            <input type="checkbox" class="custom-control-input" id="catCheckbox7" required="">
                                            <label class="custom-control-label custom--control-label text-black" for="catCheckbox7"> توسعه وب <span class="ml-1 text-gray">(12,300)</span> </label>
                                        </div>
                                        <!-- end custom-control -->
                                        <div class="custom-control custom-checkbox mb-1 fs-15">
                                            <input type="checkbox" class="custom-control-input" id="catCheckbox8" required="">
                                            <label class="custom-control-label custom--control-label text-black" for="catCheckbox8"> عکاسی <span class="ml-1 text-gray">(12,300)</span> </label>
                                        </div>
                                        <!-- end custom-control -->
                                        <div class="custom-control custom-checkbox mb-1 fs-15">
                                            <input type="checkbox" class="custom-control-input" id="catCheckbox9" required="">
                                            <label class="custom-control-label custom--control-label text-black" for="catCheckbox9"> امور مالی <span class="ml-1 text-gray">(12,300)</span> </label>
                                        </div>
                                        <!-- end custom-control -->
                                    </div>
                                    <!-- end collapse -->
                                    <a class="collapse-btn collapse--btn fs-15" data-toggle="collapse" href="#collapseMore" role="button" aria-expanded="false" aria-controls="collapseMore">
                                        <span class="collapse-btn-hide">بیشتر نشان بده، اطلاعات بیشتر<i class="la la-angle-down ml-1 fs-14"></i></span>
                                        <span class="collapse-btn-show">کمتر نشان دادن<i class="la la-angle-up ml-1 fs-14"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">آرشیوها</h3>
                                    <div class="divider"><span></span></div>
                                    <ul class="generic-list-item">
                                        <li><a href="#">خرداد 1400</a></li>
                                        <li><a href="#">دی 1399</a></li>
                                        <li><a href="#">آذر 1398</a></li>
                                        <li><a href="#">اردیبهشت 1397</a></li>
                                        <li><a href="#">مهر 1396</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">پستهای اخیر</h3>
                                    <div class="divider"><span></span></div>
                                    <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                                        <a href="course-details.html" class="media-img">
                                            <img class="mr-3" src="{% static 'images/small-img-2.jpg' %}" alt="تصویر دوره مرتبط">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="fs-15"><a href="course-details.html">دوره کامل جاوا اسکریپت 1400</a></h5>
                                            <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                                            <p class="text-black font-weight-semi-bold lh-18 fs-15">12.99 تومان <span class="before-price fs-14">129.99 تومان</span></p>
                                        </div>
                                    </div>
                                    <!-- end media -->
                                    <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                                        <a href="course-details.html" class="media-img">
                                            <img class="mr-3" src="{% static 'images/small-img-3.jpg' %}" alt="تصویر دوره مرتبط">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="fs-15"><a href="course-details.html">آموزش جاوا اسکریپت برای مبتدیان</a></h5>
                                            <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                                            <p class="text-black font-weight-semi-bold lh-18 fs-15">129.99 تومان</p>
                                        </div>
                                    </div>
                                    <!-- end media -->
                                    <div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
                                        <a href="course-details.html" class="media-img">
                                            <img class="mr-3" src="{% static 'images/small-img-4.jpg' %}" alt="تصویر دوره مرتبط">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="fs-15"><a href="course-details.html">مقدمه LearnPress – افزونه LMS</a></h5>
                                            <span class="d-block lh-18 py-1 fs-14">کامران احمد</span>
                                            <p class="text-black font-weight-semi-bold lh-18 fs-15">رایگان</p>
                                        </div>
                                    </div>
                                    <!-- end media -->
                                    <div class="view-all-course-btn-box">
                                        <a href="blog-no-sidebar.html" class="btn theme-btn w-100">مشاهده همه پست ها <i class="la la-arrow-left icon ml-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">فرم نوار کناری</h3>
                                    <div class="divider"><span></span></div>
                                    <form method="post">
                                        <div class="form-group">
                                            <input class="form-control form--control" type="text" name="text" placeholder="نام">
                                            <span class="la la-user input-icon"></span>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form--control" type="email" name="email" placeholder="پست الکترونیک">
                                            <span class="la la-envelope input-icon"></span>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form--control pl-3" name="message" rows="4" placeholder="پیام بنویس"></textarea>
                                        </div>
                                        <div class="btn-box">
                                            <button class="btn theme-btn w-100">تماس با نویسنده <i class="la la-arrow-left icon ml-1"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">برچسب های پست</h3>
                                    <div class="divider"><span></span></div>
                                    <ul class="generic-list-item generic-list-item-boxed d-flex flex-wrap fs-15">
                                        <li class="mr-2"><a href="#">کسب و کار</a></li>
                                        <li class="mr-2"><a href="#">رویداد</a></li>
                                        <li class="mr-2"><a href="#">ویدئو</a></li>
                                        <li class="mr-2"><a href="#">سمعی</a></li>
                                        <li class="mr-2"><a href="#">نرم افزار</a></li>
                                        <li class="mr-2"><a href="#">کنفرانس</a></li>
                                        <li class="mr-2"><a href="#">بازار یابی</a></li>
                                        <li class="mr-2"><a href="#">آزاد</a></li>
                                        <li class="mr-2"><a href="#">نکات</a></li>
                                        <li class="mr-2"><a href="#">فن آوری</a></li>
                                        <li class="mr-2"><a href="#">کارآفرین</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">اشتراک در</h3>
                                    <div class="divider"><span></span></div>
                                    <form method="post">
                                        <div class="input-group">
                                            <input class="form-control form--control pl-3" type="email" name="email" placeholder="آدرس ایمیل را وارد کن">
                                            <div class="input-group-append">
                                                <button class="btn theme-btn"><i class="la la-arrow-left"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card card-item">
                                <div class="card-body">
                                    <h3 class="card-title fs-18 pb-2">اتصال و دنبال کردن</h3>
                                    <div class="divider"><span></span></div>
                                    <ul class="social-icons social-icons-styled social--icons-styled">
                                        <li>
                                            <a href="#"><i class="la la-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="la la-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="la la-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="la la-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img8.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img9.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش نهایی فتوشاپ: از مبتدی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img10.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img11.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-item">
                                    <div class="card-image">
                                        <a href="blog-single.html" class="d-block">
                                            <img class="card-img-top lazy" src="{% static 'images/img12.jpg' %}" alt="درپوش تصویر کارت" style="">
                                        </a>
                                        <div class="course-badge-labels">
                                            <div class="course-badge">24 آذر 1400</div>
                                        </div>
                                    </div>
                                    <!-- end card-image -->
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="blog-single.html">آموزش فروش: تکنیک های عملی</a></h5>
                                        <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center flex-wrap fs-14 pt-2">
                                            <li class="d-flex align-items-center">توسط <a href="#">جان دئو</a></li>
                                            <li class="d-flex align-items-center"><a href="#">4 نظر</a></li>
                                            <li class="d-flex align-items-center"><a href="#">130 لایک</a></li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center pt-3">
                                            <a href="blog-single.html" class="btn theme-btn theme-btn-sm theme-btn-white">ادامه مطلب <i class="la la-arrow-left icon ml-1"></i></a>
                                            <div class="share-wrap">
                                                <ul class="social-icons social-icons-styled">
                                                    <li class="mr-0">
                                                        <a href="#" class="facebook-bg"><i class="la la-facebook"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="twitter-bg"><i class="la la-twitter"></i></a>
                                                    </li>
                                                    <li class="mr-0">
                                                        <a href="#" class="instagram-bg"><i class="la la-instagram"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="icon-element icon-element-sm shadow-sm cursor-pointer share-toggle" title="تغییر وضعیت برای گسترش نمادهای اجتماعی"><i class="la la-share-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="text-center pt-3">
                            <nav aria-label="مثال ناوبری صفحه" class="pagination-box">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="قبلی">
                                            <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                            <span class="sr-only">قبلی</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="بعد">
                                            <span aria-hidden="true"><i class="la la-arrow-left"></i></span>
                                            <span class="sr-only">بعد</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <p class="fs-14 pt-2">نمایش 1-10 از 56 نتیجه</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}