

{% load render_partial %}
{% load static %}
{% load permission_tags %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="جان دئو">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}نبی اکرم(ص){% endblock %}</title>
    {% include 'shared/header_references.html' %}
</head>
<body>

<section class="dashboard-area">
    <div class="off-canvas-menu dashboard-off-canvas-menu off--canvas-menu custom-scrollbar-styled pt-20px">
        <div class="off-canvas-menu-close dashboard-menu-close icon-element icon-element-sm shadow-sm"
             data-toggle="tooltip" data-placement="right" title="بستن منو">
            <i class="la la-times"></i>
        </div>

        <div class="logo-box px-4">
            <a href="{% url 'main_app:index' %}" class="logo">
                <img src="{% static 'images/Heiat-Red.png' %}" alt="لوگو" width="100"/>
            </a>
        </div>


        <ul class="generic-list-item off-canvas-menu-list off--canvas-menu-list pt-35px">

            <!-- dashboard -->
            <li>
                <a href="{% url 'userprofile_app:user_panel_dashboard_page' %}">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path d="M19 5v2h-4V5h4M9 5v6H5V5h4m10 8v6h-4v-6h4M9 17v2H5v-2h4M21 3h-8v6h8V3zM11 3H3v10h8V3zm10 8h-8v10h8V11zm-10 4H3v6h8v-6z"></path>
                    </svg>
                    داشبورد
                </a>
            </li>

            <!-- user profile -->
            <li class="dropdown position-relative">
                <a href="#userProfileSubMenu"
                   class="dropdown-toggle d-flex align-items-center justify-content-between"
                   data-toggle="collapse"
                   aria-expanded="{% if request.resolver_match.url_name in 'user_profile_detail user_profile_edit user_profile_change_password user_profile_change_email' %}true{% else %}false{% endif %}"
                   aria-controls="userProfileSubMenu"
                   style="position: relative;">
                    <span class="d-flex align-items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                            </path>
                        </svg>
                        پروفایل کاربر
                    </span>
                </a>

                <ul id="userProfileSubMenu"
                    class="collapse list-unstyled pl-4 mb-0 text-color-2 {% if request.resolver_match.url_name in 'user_profile_detail user_profile_edit user_profile_change_password user_profile_change_email' %}show{% endif %}">
                    <li>
                        <a href="{% url 'userprofile_app:user_profile_detail' %}"
                           class="{% if request.resolver_match.url_name == 'user_profile_detail' %}active bg-info text-white{% endif %}">
                            پروفایل کاربر
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'userprofile_app:user_profile_edit' %}"
                           class="{% if request.resolver_match.url_name == 'user_profile_edit' %}active bg-info text-white{% endif %}">
                            ویرایش کاربر
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'userprofile_app:user_profile_change_password' %}"
                           class="{% if request.resolver_match.url_name == 'user_profile_change_password' %}active bg-info text-white{% endif %}">
                            تغییر کلمه عبور
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'userprofile_app:user_profile_change_email' %}"
                           class="{% if request.resolver_match.url_name == 'user_profile_change_email' %}active bg-info text-white{% endif %}">
                            تغییر ایمیل
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Article -->
            {% if perms.blog_app.view_article or perms.blog_app.view_articlecategory or perms.blog_app.view_articletag or perms.blog_app.view_articlecomment %}
                <li class="dropdown position-relative">
                    <a href="#article"
                       class="dropdown-toggle d-flex align-items-center justify-content-between"
                       data-toggle="collapse"
                       aria-expanded="{% if request.resolver_match.url_name in 'articles_list article_categories_list article_tags_list article_comments_list' %}true{% else %}false{% endif %}"
                       aria-controls="userProfileSubMenu"
                       style="position: relative;">
                    <span class="d-flex align-items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                            </path>
                        </svg>
                        مقاله ها
                    </span>
                    </a>

                    <ul id="article"
                        class="collapse list-unstyled pl-4 mb-0 text-color-2 {% if request.resolver_match.url_name in 'articles_list article_categories_list article_tags_list article_comments_list' %}show{% endif %}">
                        {% if perms.media_app.view_article %}
                            <li>
                                <a href="{% url 'userprofile_app:articles_list' %}"
                                   class="{% if request.resolver_match.url_name == 'articles_list' %}active bg-info text-white{% endif %}">
                                    لیست مقاله ها
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_articlecategory %}
                            <li>
                                <a href="{% url 'userprofile_app:article_categories_list' %}"
                                   class="{% if request.resolver_match.url_name == 'article_categories_list' %}active bg-info text-white{% endif %}">
                                    دسته بندی
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_articletag %}
                            <li>
                                <a href="{% url 'userprofile_app:article_tags_list' %}"
                                   class="{% if request.resolver_match.url_name == 'article_tags_list' %}active bg-info text-white{% endif %}">
                                    تگ ها
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_articlecomment %}
                            <li>
                                <a href="{% url 'userprofile_app:article_comments_list' %}"
                                   class="{% if request.resolver_match.url_name == 'article_comments_list' %}active bg-info text-white{% endif %}">
                                    نظرات
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            <!-- lecture -->
            {% if perms.media_app.view_lecture or perms.media_app.view_lecturecategory or perms.media_app.view_lecturetag or perms.media_app.view_lecturecomment or perms.media_app.view_lectureclip %}
                <li class="dropdown position-relative">
                    <a href="#lecture"
                       class="dropdown-toggle d-flex align-items-center justify-content-between"
                       data-toggle="collapse"
                       aria-expanded="{% if request.resolver_match.url_name in 'lectures_list lecture_categories_list lecture_tags_list lecture_comments_list lecture_clips_list' %}true{% else %}false{% endif %}"
                       aria-controls="lectureSubMenu"
                       style="position: relative;">
                    <span class="d-flex align-items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                            </path>
                        </svg>
                        سخنرانی ها
                    </span>
                    </a>

                    <ul id="lecture"
                        class="collapse list-unstyled pl-4 mb-0 text-color-2 {% if request.resolver_match.url_name in 'lectures_list lecture_categories_list lecture_tags_list lecture_comments_list lecture_clips_list' %}show{% endif %}">
                        {% if perms.media_app.view_lecture %}
                            <li>
                                <a href="{% url 'userprofile_app:lectures_list' %}"
                                   class="{% if request.resolver_match.url_name == 'lectures_list' %}active bg-info text-white{% endif %}">
                                    لیست سخنرانی ها
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_lecturecategory %}
                            <li>
                                <a href="{% url 'userprofile_app:lecture_categories_list' %}"
                                   class="{% if request.resolver_match.url_name == 'lecture_categories_list' %}active bg-info text-white{% endif %}">
                                    دسته بندی
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_lecturetag %}
                            <li>
                                <a href="{% url 'userprofile_app:lecture_tags_list' %}"
                                   class="{% if request.resolver_match.url_name == 'lecture_tags_list' %}active bg-info text-white{% endif %}">
                                    تگ ها
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_lecturecomment %}
                            <li>
                                <a href="{% url 'userprofile_app:lecture_comments_list' %}"
                                   class="{% if request.resolver_match.url_name == 'lecture_comments_list' %}active bg-info text-white{% endif %}">
                                    نظرات
                                </a>
                            </li>
                        {% endif %}

                        {% if perms.media_app.view_lectureclip %}
                            <li>
                                <a href="{% url 'userprofile_app:lecture_clips_list' %}"
                                   class="{% if request.resolver_match.url_name == 'lecture_clips_list' %}active bg-info text-white{% endif %}">
                                    کلیپ ها
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}


            <!-- gallery -->
            {% if perms.media_app.view_galleryimage or perms.media_app.view_gallerycategory %}
                <li class="dropdown position-relative">
                    <a href="#gallery"
                       class="dropdown-toggle d-flex align-items-center justify-content-between"
                       data-toggle="collapse"
                       aria-expanded="{% if request.resolver_match.url_name in 'galleries_list gallery_categories_list' %}true{% else %}false{% endif %}"
                       aria-controls="gallerySubMenu"
                       style="position: relative;">
                    <span class="d-flex align-items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                            </path>
                        </svg>
                        تصاویر
                    </span>
                    </a>

                    <ul id="gallery"
                        class="collapse list-unstyled pl-4 mb-0 text-color-2 {% if request.resolver_match.url_name in 'galleries_list gallery_categories_list' %}show{% endif %}">
                        {% if perms.media_app.view_galleryimage %}
                            <li>
                                <a href="{% url 'userprofile_app:galleries_list' %}"
                                   class="{% if request.resolver_match.url_name == 'galleries_list' %}active bg-info text-white{% endif %}">
                                    لیست تصاویر
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.media_app.view_gallerycategory %}
                            <li>
                                <a href="{% url 'userprofile_app:gallery_categories_list' %}"
                                   class="{% if request.resolver_match.url_name == 'gallery_categories_list' %}active bg-info text-white{% endif %}">
                                    دسته بندی
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}


            <!-- Links -->
            {% if perms.main_app.view_footerlink or perms.main_app.view_footerlinkbox %}
                <li class="dropdown position-relative">
                    <a href="#links"
                       class="dropdown-toggle d-flex align-items-center justify-content-between"
                       data-toggle="collapse"
                       aria-expanded="{% if request.resolver_match.url_name in 'footer_links_list footer_link_boxes_list' %}true{% else %}false{% endif %}"
                       aria-controls="gallerySubMenu"
                       style="position: relative;">
                    <span class="d-flex align-items-center">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                            </path>
                        </svg>
                        لینک ها
                    </span>
                    </a>

                    <ul id="links"
                        class="collapse list-unstyled pl-4 mb-0 text-color-2 {% if request.resolver_match.url_name in 'footer_links_list footer_link_boxes_list' %}show{% endif %}">
                        {% if perms.main_app.view_galleryimage %}
                            <li>
                                <a href="{% url 'userprofile_app:footer_links_list' %}"
                                   class="{% if request.resolver_match.url_name == 'footer_links_list' %}active bg-info text-white{% endif %}">
                                    لیست لینک ها
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.main_app.view_gallerycategory %}
                            <li>
                                <a href="{% url 'userprofile_app:footer_link_boxes_list' %}"
                                   class="{% if request.resolver_match.url_name == 'footer_link_boxes_list' %}active bg-info text-white{% endif %}">
                                    دسته بندی
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            <!-- Contact Us -->
            {% if perms.main_app.view_contactus %}
                <li>
                    <a href="{% url 'userprofile_app:contact_us_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                             width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        تماس با ما
                    </a>
                </li>
            {% endif %}

            <!-- slider -->
            {% if perms.main_app.view_slider %}
                <li>
                    <a href="{% url 'userprofile_app:sliders_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                             width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        اسلایدر
                    </a>
                </li>
            {% endif %}

            <!-- site_setting -->
            {% if perms.main_app.view_sitesetting %}
                {% if site_setting %}
                    <li>
                        <a href="{% url 'userprofile_app:site_setting_edit' site_setting.id %}">
                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                                 width="18px">
                                <path d="M0 0h24v24H0V0z" fill="none"></path>
                                <path
                                        d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                                ></path>
                            </svg>
                            پیکربندی سایت
                        </a>
                    </li>
                {% endif %}
            {% endif %}

            <!-- group & users -->
            {% if request.user|in_group:"Manager"  or request.user.is_superuser %}
                <!-- Group -->
                <li>
                    <a href="{% url 'userprofile_app:group_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                             width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        نقش ها و دسترسی ها
                    </a>
                </li>

                <!-- users -->
                <li>
                    <a href="{% url 'userprofile_app:user_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                             width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        لیست کاربران
                    </a>
                </li>
            {% endif %}

            <!-- exit -->
            <li>
                <a href="{% url 'account_app:logout_page' %}">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24"
                         width="18px">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                                d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                        ></path>
                    </svg>
                    خروج
                </a>
            </li>

        </ul>
    </div>

    {% block content %}{% endblock %}

</section>

<div id="scroll-top">
    <i class="la la-arrow-up" title="برو بالا"></i>
</div>

{% include 'shared/footer_references.html' %}

</body>
</html>
