{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="جان دئو">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}نبی اکرم(ص){% endblock %}</title>
    {% include 'shared/header_references.html' %}
</head>
<body>

<header class="header-menu-area">
    <div class="header-menu-content dashboard-menu-content pr-30px pl-30px bg-white shadow-sm">
        <div class="container-fluid">
            <div class="main-menu-content">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="logo-box logo--box">
                            <a href="{% url 'main_app:index' %}" class="logo">
                                <img src="{% static 'images/logo.png' %}" alt="لوگو"/>
                            </a>
                            <div class="user-btn-action">
                                <div class="search-menu-toggle icon-element icon-element-sm shadow-sm mr-2"
                                     data-toggle="tooltip" data-placement="top" title="جستجو کردن">
                                    <i class="la la-search"></i>
                                </div>
                                <div class="off-canvas-menu-toggle cat-menu-toggle icon-element icon-element-sm shadow-sm mr-2"
                                     data-toggle="tooltip" data-placement="top" title="منوی دسته بندی">
                                    <i class="la la-th-large"></i>
                                </div>
                                <div class="off-canvas-menu-toggle main-menu-toggle icon-element icon-element-sm shadow-sm"
                                     data-toggle="tooltip" data-placement="top" title="منوی اصلی">
                                    <i class="la la-bars"></i>
                                </div>
                            </div>
                        </div>
                        <!-- end logo-box -->
                        <div class="menu-wrapper">
                            <form method="post" class="mr-auto ml-0">
                                <div class="form-group mb-0">
                                    <input class="form-control form--control form--control-gray pl-3" type="text"
                                           name="search" placeholder="هر چیزی را جستجو کنید"/>
                                    <span class="la la-search search-icon"></span>
                                </div>
                            </form>
                            <div class="nav-left-button d-flex align-items-center">
                                <div class="user-action-wrap d-flex align-items-center">
                                    <div class="shop-cart user-profile-cart">
                                        <ul>
                                            <li>
                                                <div class="shop-cart-btn">
                                                    <div class="avatar-xs">
                                                        <img class="rounded-full img-fluid"
                                                             src="{% static 'images/small-avatar-1.jpg' %}"
                                                             alt="تصویر آواتار"/>
                                                    </div>
                                                    <!--<span class="dot-status bg-1"></span>-->
                                                </div>
                                                <ul class="cart-dropdown-menu after-none p-0 notification-dropdown-menu">
                                                    <li class="menu-heading-block d-flex align-items-center">
                                                        <a href="teacher-detail.html"
                                                           class="avatar-sm flex-shrink-0 d-block">
                                                            <img class="rounded-full img-fluid"
                                                                 src="{% static 'images/small-avatar-1.jpg' %}"
                                                                 alt="تصویر آواتار"/>
                                                        </a>
                                                        <div class="ml-2">
                                                            <h4><a href="teacher-detail.html" class="text-black">مدیر
                                                                سیستم</a></h4>
                                                            <span class="d-block fs-14 lh-20">alexsmith@example.com</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="theme-picker d-flex align-items-center justify-content-center lh-40">
                                                            <button class="theme-picker-btn dark-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                                    title="حالت تاریک">
                                                                <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke-linecap="round" stroke-linejoin="round">
                                                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                                                </svg>
                                                                حالت تاریک
                                                            </button>
                                                            <button class="theme-picker-btn light-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                                    title="حالت نور">
                                                                <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke-linecap="round" stroke-linejoin="round">
                                                                    <circle cx="12" cy="12" r="5"></circle>
                                                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                                                    <line x1="4.22" y1="4.22" x2="5.64"
                                                                          y2="5.64"></line>
                                                                    <line x1="18.36" y1="18.36" x2="19.78"
                                                                          y2="19.78"></line>
                                                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                                                    <line x1="4.22" y1="19.78" x2="5.64"
                                                                          y2="18.36"></line>
                                                                    <line x1="18.36" y1="5.64" x2="19.78"
                                                                          y2="4.22"></line>
                                                                </svg>
                                                                حالت نور
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <ul class="generic-list-item">
                                                            <li>
                                                                <a href="my-courses.html"> <i
                                                                        class="la la-file-video-o mr-1"></i> دوره های من
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="shopping-cart.html"> <i
                                                                        class="la la-shopping-basket mr-1"></i> سبد خرید
                                                                    من </a>
                                                            </li>
                                                            <li>
                                                                <a href="my-courses.html"> <i
                                                                        class="la la-heart-o mr-1"></i> لیست علاقه مندی
                                                                    های من </a>
                                                            </li>
                                                            <li>
                                                                <div class="section-block"></div>
                                                            </li>
                                                            <li>
                                                                <a href="dashboard.html">
                                                                    <i class="la la-bell mr-1"></i>اعلان&zwnj;ها
                                                                    <span class="badge bg-info text-white ml-2 p-1">9+</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="dashboard-message.html">
                                                                    <i class="la la-envelope mr-1"></i>پیام های
                                                                    <span class="badge bg-info text-white ml-2 p-1">12+</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <div class="section-block"></div>
                                                            </li>
                                                            <li>
                                                                <a href="dashboard-settings.html"> <i
                                                                        class="la la-gear mr-1"></i> تنظیمات </a>
                                                            </li>
                                                            <li>
                                                                <a href="dashboard-purchase-history.html"> <i
                                                                        class="la la-history mr-1"></i> سابقه خرید </a>
                                                            </li>
                                                            <li>
                                                                <div class="section-block"></div>
                                                            </li>
                                                            <li>
                                                                <a href="student-detail.html"> <i
                                                                        class="la la-user mr-1"></i> پروفایل عمومی </a>
                                                            </li>
                                                            <li>
                                                                <a href="dashboard-settings.html"> <i
                                                                        class="la la-edit mr-1"></i> ویرایش نمایه </a>
                                                            </li>
                                                            <li>
                                                                <div class="section-block"></div>
                                                            </li>
                                                            <li>
                                                                <a href="#"> <i class="la la-question mr-1"></i> کمک
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="index.html"> <i
                                                                        class="la la-power-off mr-1"></i> خروج </a>
                                                            </li>
                                                            <li>
                                                                <div class="section-block"></div>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="position-relative">
                                                                    <span class="fs-17 font-weight-semi-bold d-block">آدوکا برای کسب و کار </span>
                                                                    <span class="lh-20 d-block fs-14 text-gray">یادگیری را به شرکت خود بیاورید</span>
                                                                    <span class="position-absolute top-0 left-0 mt-3 mr-3 fs-18 text-gray">
                                                                                <i class="la la-external-link"></i>
                                                                            </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end shop-cart -->
                                </div>
                            </div>
                            <!-- end nav-left-button -->
                        </div>
                        <!-- end menu-wrapper -->
                    </div>
                    <!-- end col-lg-10 -->
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end header-menu-content -->
    <div class="off-canvas-menu custom-scrollbar-styled main-off-canvas-menu">
        <div class="off-canvas-menu-close main-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip"
             data-placement="right" title="بستن منو">
            <i class="la la-times"></i>
        </div>
        <!-- end off-canvas-menu-close -->
        <h4 class="off-canvas-menu-heading pt-90px">هشدارها</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
            <li><a href="dashboard.html">اطلاعیه</a></li>
            <li><a href="dashboard-message.html">پیام ها</a></li>
            <li><a href="my-courses.html">لیست علاقه مندیها</a></li>
            <li><a href="shopping-cart.html">سبد خرید من</a></li>
        </ul>
        <h4 class="off-canvas-menu-heading pt-20px">حساب</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
            <li><a href="dashboard-settings.html">تنظیمات حساب</a></li>
            <li><a href="dashboard-purchase-history.html">سابقه خرید</a></li>
        </ul>
        <h4 class="off-canvas-menu-heading pt-20px">مشخصات</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
            <li><a href="student-detail.html">پروفایل عمومی</a></li>
            <li><a href="dashboard-settings.html">ویرایش نمایه</a></li>
            <li><a href="index.html">خروج</a></li>
        </ul>
        <h4 class="off-canvas-menu-heading pt-20px">بیشتر از Aduca</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1">
            <li><a href="for-business.html">آدوکا برای تجارت</a></li>
            <li><a href="#">برنامه را دریافت کنید</a></li>
            <li><a href="invite.html">دوستان را دعوت کنید</a></li>
            <li><a href="contact.html">کمک</a></li>
        </ul>
        <div class="theme-picker d-flex align-items-center justify-content-center mt-4 px-3">
            <button class="theme-picker-btn dark-mode-btn btn theme-btn-sm theme-btn-white w-100 font-weight-semi-bold justify-content-center"
                    title="حالت تاریک">
                <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
                حالت تاریک
            </button>
            <button class="theme-picker-btn light-mode-btn btn theme-btn-sm theme-btn-white w-100 font-weight-semi-bold justify-content-center"
                    title="حالت نور">
                <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
                حالت نور
            </button>
        </div>
    </div>
    <!-- end off-canvas-menu -->
    <div class="off-canvas-menu custom-scrollbar-styled category-off-canvas-menu">
        <div class="off-canvas-menu-close cat-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip"
             data-placement="right" title="بستن منو">
            <i class="la la-times"></i>
        </div>
        <!-- end off-canvas-menu-close -->
        <h4 class="off-canvas-menu-heading pt-90px">فرا گرفتن</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1 pb-2 border-bottom border-bottom-gray">
            <li><a href="my-courses.html">یادگیری من</a></li>
        </ul>
        <h4 class="off-canvas-menu-heading pt-20px">دسته بندی ها</h4>
        <ul class="generic-list-item off-canvas-menu-list pt-1">
            <li>
                <a href="course-grid.html">توسعه</a>
                <ul class="sub-menu">
                    <li><a href="#">همه توسعه</a></li>
                    <li><a href="#">توسعه وب</a></li>
                    <li><a href="#">برنامه های موبایل</a></li>
                    <li><a href="#">توسعه بازی</a></li>
                    <li><a href="#">پایگاه های داده</a></li>
                    <li><a href="#">زبانهای برنامه نویسی</a></li>
                    <li><a href="#">تست نرم افزار</a></li>
                    <li><a href="#">مهندسی نرم افزار</a></li>
                    <li><a href="#">تجارت الکترونیک</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">کسب و کار</a>
                <ul class="sub-menu">
                    <li><a href="#">همه کسب و کار</a></li>
                    <li><a href="#">دارایی، مالیه، سرمایه گذاری</a></li>
                    <li><a href="#">کارآفرینی</a></li>
                    <li><a href="#">استراتژی</a></li>
                    <li><a href="#">مشاور املاک</a></li>
                    <li><a href="#">مشاغل خانگی</a></li>
                    <li><a href="#">ارتباطات</a></li>
                    <li><a href="#">صنعت</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">فناوری اطلاعات و نرم افزار</a>
                <ul class="sub-menu">
                    <li><a href="#">تمام IT و نرم افزار</a></li>
                    <li><a href="#">گواهی IT</a></li>
                    <li><a href="#">سخت افزار</a></li>
                    <li><a href="#">امنیت شبکه</a></li>
                    <li><a href="#">سیستم های عامل</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">حسابداری مالی</a>
                <ul class="sub-menu">
                    <li><a href="#"> کلیه امور مالی و حسابداری</a></li>
                    <li><a href="#">حسابداری و حسابداری</a></li>
                    <li><a href="#">ارزهای دیجیتال و بلاک چین</a></li>
                    <li><a href="#">اقتصاد</a></li>
                    <li><a href="#">سرمایه گذاری و تجارت</a></li>
                    <li><a href="#">سایر امور مالی و اقتصادی</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">طرح</a>
                <ul class="sub-menu">
                    <li><a href="#">تمام طراحی</a></li>
                    <li><a href="#">طراحی گرافیک</a></li>
                    <li><a href="#">طراحی وب سایت</a></li>
                    <li><a href="#">ابزار طراحی</a></li>
                    <li><a href="#">سه بعدی و انیمیشن</a></li>
                    <li><a href="#">تجربه ی کاربر</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">توسعه شخصی</a>
                <ul class="sub-menu">
                    <li><a href="#">تمام توسعه شخصی</a></li>
                    <li><a href="#">تحول شخصی</a></li>
                    <li><a href="#">بهره وری</a></li>
                    <li><a href="#">رهبری</a></li>
                    <li><a href="#">امور مالی شخصی</a></li>
                    <li><a href="#">توسعه شغلی</a></li>
                    <li><a href="#">والدین و روابط</a></li>
                    <li><a href="#">خوشبختی</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">بازار یابی</a>
                <ul class="sub-menu">
                    <li><a href="#">تمام بازاریابی</a></li>
                    <li><a href="#">بازاریابی دیجیتال</a></li>
                    <li><a href="#">بهینه سازی موتور جستجو</a></li>
                    <li><a href="#">بازاریابی از طریق رسانه های اجتماعی</a></li>
                    <li><a href="#">نام تجاری</a></li>
                    <li><a href="#">بازاریابی ویدئویی و موبایلی</a></li>
                    <li><a href="#">بازاریابی وابسته</a></li>
                    <li><a href="#">هک رشد</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">سلامتی و تناسب اندام</a>
                <ul class="sub-menu">
                    <li><a href="#">همه سلامتی و تناسب اندام</a></li>
                    <li><a href="#">تناسب اندام</a></li>
                    <li><a href="#">ورزش ها</a></li>
                    <li><a href="#">رژیم گرفتن</a></li>
                    <li><a href="#">دفاع شخصی</a></li>
                    <li><a href="#">مراقبه</a></li>
                    <li><a href="#">سلامت روان</a></li>
                    <li><a href="#">یوگا</a></li>
                    <li><a href="#">رقص</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
            <li>
                <a href="course-grid.html">عکاسی</a>
                <ul class="sub-menu">
                    <li><a href="#">تمام عکاسی</a></li>
                    <li><a href="#">عکاسی دیجیتال</a></li>
                    <li><a href="#">اصول عکاسی</a></li>
                    <li><a href="#">عکاسی تجاری</a></li>
                    <li><a href="#">طراحی ویدئو</a></li>
                    <li><a href="#">ابزار عکاسی</a></li>
                    <li><a href="#">دیگر</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end off-canvas-menu -->
    <div class="mobile-search-form">
        <div class="d-flex align-items-center">
            <form method="post" class="flex-grow-1 mr-3">
                <div class="form-group mb-0">
                    <input class="form-control form--control pl-3" type="text" name="search"
                           placeholder="هر چیزی را جستجو کنید"/>
                    <span class="la la-search search-icon"></span>
                </div>
            </form>
            <div class="search-bar-close icon-element icon-element-sm shadow-sm">
                <i class="la la-times"></i>
            </div>
            <!-- end off-canvas-menu-close -->
        </div>
    </div>
    <!-- end mobile-search-form -->
    <div class="body-overlay"></div>
</header>


<section class="dashboard-area">
    <div class="off-canvas-menu dashboard-off-canvas-menu off--canvas-menu custom-scrollbar-styled pt-20px">
        <div class="off-canvas-menu-close dashboard-menu-close icon-element icon-element-sm shadow-sm"
             data-toggle="tooltip" data-placement="right" title="بستن منو">
            <i class="la la-times"></i>
        </div>

        <div class="logo-box px-4">
            <a href="{% url 'main_app:index' %}" class="logo"><img src="{% static 'images/logo.png' %}" alt="لوگو"/></a>
        </div>
        <ul class="generic-list-item off-canvas-menu-list off--canvas-menu-list pt-35px">

            <!-- dashboard -->
            <li class="page-active">
                <a href="{% url 'userprofile_app:user_panel_dashboard_page' %}">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path d="M19 5v2h-4V5h4M9 5v6H5V5h4m10 8v6h-4v-6h4M9 17v2H5v-2h4M21 3h-8v6h8V3zM11 3H3v10h8V3zm10 8h-8v10h8V11zm-10 4H3v6h8v-6z"></path>
                    </svg>
                    داشبورد
                </a>
            </li>

            <!-- user profile -->
            <li>
                <a href="{% url 'userprofile_app:Information_user_profile_page' %}">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                                d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                        ></path>
                    </svg>
                    پروفایل من
                </a>
            </li>


            <!-- Article -->
            <li>
                <a href="{% url 'userprofile_app:articles_list' %}">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                                d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                        ></path>
                    </svg>
                    مقاله ها
                </a>
            </li>
            {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'userprofile_app:group_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        گروه ها و مجوزها
                    </a>
                </li>

                <li>
                    <a href="{% url 'userprofile_app:user_list' %}">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path
                                    d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"
                            ></path>
                        </svg>
                        کاربران
                    </a>
                </li>
            {% endif %}


        </ul>
    </div>

    {% block content %}{% endblock %}

</section>


<div class="modal fade modal-container" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="la la-exclamation-circle fs-60 text-warning"></span>
                <h4 class="modal-title fs-19 font-weight-semi-bold pt-2 pb-1" id="deleteModalTitle">حساب شما برای همیشه
                    حذف خواهد شد!</h4>
                <p>آیا مطمئن هستید که می خواهید اکانت خود را حذف کنید؟</p>
                <div class="btn-box pt-4">
                    <button type="button" class="btn font-weight-medium mr-3" data-dismiss="modal">لغو کنید</button>
                    <button type="submit" class="btn theme-btn theme-btn-sm lh-30">باشه حذف کن</button>
                </div>
            </div>
            <!-- end modal-body -->
        </div>
        <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
</div>
<div id="scroll-top">
    <i class="la la-arrow-up" title="برو بالا"></i>
</div>

{% include 'shared/footer_references.html' %}

</body>
</html>
