{% load static %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/waypoint.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/datedropper.min.js' %}"></script>
<script src="{% static 'js/emojionearea.min.js' %}"></script>
<script src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.lazy.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>