{% load static %}

<header class="header-menu-area bg-white">
    <!-- هدر سایت -->
    <div class="header-top pr-150px pl-150px border-bottom border-bottom-gray py-1">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- شماره تماس و ایمیل -->
                <div class="col-lg-6">
                    <div class="header-widget">
                        <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14">
                            <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                    class="la la-phone mr-1"></i><a href="tel:00123456789"> (00) 123 456 789</a></li>
                            <li class="d-flex align-items-center"><i class="la la-envelope-o mr-1"></i><a
                                    href="#"> info@nabieakram.ir</a></li>
                        </ul>
                    </div>
                </div>
                <!-- حالت تاریک و نور و حساب کاربری -->
                <div class="col-lg-6">
                    <div class="header-widget d-flex flex-wrap align-items-center justify-content-end">
                        <!-- حالت تاریک و نور -->
                        <div class="theme-picker d-flex align-items-center">
                            <button class="theme-picker-btn dark-mode-btn" title="حالت تاریک">
                                <svg id="moon" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                </svg>
                            </button>
                            <button class="theme-picker-btn light-mode-btn" title="حالت نور">
                                <svg id="sun" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="5"></circle>
                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                </svg>
                            </button>
                        </div>
                        <!-- ثبت نام، لاگین، حساب کاربری -->
                        <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14 border-right border-right-gray pl-3 ml-3">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                            class="la la-user mr-1"></i><a
                                            href="/admin">
                                        ادمین</a></li>
                                    <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                            class="la la-user mr-1"></i><a
                                            href="{% url 'account_app:user_panel_dashboard_page' %}">
                                        حساب کاربری</a></li>
                                    <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                            class="la la-sign-out mr-1"></i><a
                                            href="{% url 'account_app:logout_page' %}">
                                        خروچ</a></li>
                                {% else %}
                                    <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                            class="la la-user mr-1"></i><a
                                            href="{% url 'account_app:user_panel_dashboard_page' %}">
                                        حساب کاربری</a></li>
                                    <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                            class="la la-sign-out mr-1"></i><a
                                            href="{% url 'account_app:logout_page' %}">
                                        خروچ</a></li>

                                {% endif %}
                            {% else %}
                                <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                        class="la la-sign-in mr-1"></i><a href="{% url 'account_app:login_page' %}">
                                    وارد شدن</a></li>
                                <li class="d-flex align-items-center pr-3 mr-3 border-left border-left-gray"><i
                                        class="la la-user mr-1"></i><a
                                        href="{% url 'account_app:register_page' %}">
                                    ثبت نام</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- لوگو، منو و سرچ -->
    <div class="header-menu-content pr-150px pl-150px bg-white">
        <div class="container-fluid">
            <div class="main-menu-content">
                <a href="#" class="down-button"><i class="la la-angle-down"></i></a>
                <div class="row align-items-center">
                    <!-- لوگو -->
                    <div class="col-lg-1">

                        <div class="logo-box">
                            <a href="{% url 'main_app:index' %}" class="logo"><img
                                    src="{% static 'images/Heiat-Red.png' %}" width="70" alt="لوگو"></a>
                        </div>
                    </div>
                    <!-- منو و سرچ -->
                    <div class="col-lg-11">
                        <div class="menu-wrapper d-flex justify-content-between align-items-center">
                            <!-- منو -->
                            <nav class="main-menu mr-auto">
                                <ul class="d-flex mb-0">
                                    <li class="ml-3">
                                        <a href="{% url 'main_app:index' %}"
                                           class="{% if request.resolver_match.url_name == 'main_app:index' %}active{% endif %}">صفحه
                                            اصلی</a>
                                    </li>
                                    <li class="ml-3">
                                        <a href="{% url 'blog_app:blog_list' %}"
                                           class="{% if request.resolver_match.url_name == 'blog_app:blog_list' %}active{% endif %}">وبلاگ</a>
                                    </li>
                                    {% comment %}<li class="ml-3">
                                        <a href="{% url 'main_app:about_us_page' %}">درباره ما</a>
                                    </li>{% endcomment %}
                                    <li class="ml-3">
                                        <a href="{% url 'main_app:contact_us_page' %}">تماس با ما</a>
                                    </li>

                                    <li class="ml-3">
                                        <a href="{% url 'media_app:gallery_page' %}">تصاویر</a>
                                    </li>
                                    <li class="ml-3">
                                        <a href="{% url 'media_app:lecture_list_page' %}">سخنرانی ها</a>
                                    </li>

                                </ul>
                            </nav>
                            <!-- سرچ -->
                            <form method="post" class="ml-auto">
                                <div class="form-group mb-0">
                                    <input class="form-control form--control pl-3" type="text" name="search"
                                           placeholder="هر چیزی را جستجو کنید">
                                    <span class="la la-search search-icon"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>