{% load static %}
<section class="footer-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 responsive-column-half">
                <div class="footer-item">
                    <a href="index.html">
                        <img src="{% static 'images/logo.png' %}" alt="لوگوی پاورقی" class="footer__logo">
                    </a>
                    <ul class="generic-list-item pt-4">
                        <li><a href="tel:+1631237884">7884 123 163 +</a></li>
                        <li><a href="mailto:support@wbsite.com">support@website.com</a></li>
                        <li>ملبورن، استرالیا، خیابان پارک جنوبی 105</li>
                    </ul>
                    <h3 class="fs-20 font-weight-semi-bold pt-4 pb-2">ما در حال هستیم</h3>
                    <ul class="social-icons social-icons-styled">
                        <li class="mr-1"><a href="#" class="facebook-bg"><i class="la la-facebook"></i></a></li>
                        <li class="mr-1"><a href="#" class="twitter-bg"><i class="la la-twitter"></i></a></li>
                        <li class="mr-1"><a href="#" class="instagram-bg"><i class="la la-instagram"></i></a></li>
                        <li class="mr-1"><a href="#" class="linkedin-bg"><i class="la la-linkedin"></i></a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column-half">
                <div class="footer-item">
                    <h3 class="fs-20 font-weight-semi-bold">شرکت</h3>
                    <span class="section-divider section--divider"></span>
                    <ul class="generic-list-item">
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">با ما تماس بگیرید</a></li>
                        <li><a href="#">معلم شدن</a></li>
                        <li><a href="#">پشتیبانی</a></li>
                        <li><a href="#">سوالات متداول</a></li>
                        <li><a href="#">وبلاگ</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column-half">
                <div class="footer-item">
                    <h3 class="fs-20 font-weight-semi-bold">دوره های آموزشی</h3>
                    <span class="section-divider section--divider"></span>
                    <ul class="generic-list-item">
                        <li><a href="#">توسعه وب</a></li>
                        <li><a href="#">هک کردن</a></li>
                        <li><a href="#">آموزش PHP</a></li>
                        <li><a href="#">انگلیسی مکالمه</a></li>
                        <li><a href="#">ماشین خودران</a></li>
                        <li><a href="#">زباله جمع کن</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column-half">
                <div class="footer-item">
                    <h3 class="fs-20 font-weight-semi-bold">دانلود برنامه</h3>
                    <span class="section-divider section--divider"></span>
                    <div class="mobile-app">
                        <p class="pb-3 lh-24">برنامه موبایل ما را دانلود کنید و در حال حرکت یاد بگیرید.</p>
                        <a href="#" class="d-block mb-2 hover-s"><img src="{% static 'images/appstore.png' %}" alt="فروشگاه اپلیکیشن"
                                                                      class="img-fluid"></a>
                        <a href="#" class="d-block hover-s"><img src="{% static 'images/googleplay.png' %}" alt="گوگل پلی استور"
                                                                 class="img-fluid"></a>
                    </div>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="section-block"></div>
    <div class="copyright-content py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p class="copy-desc">© 1400 ادوکا. کلیه حقوق محفوظ است. </p>
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="d-flex flex-wrap align-items-center justify-content-end">
                        <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14">
                            <li class="mr-3"><a href="terms-and-conditions.html">شرایط و ضوابط</a></li>
                            <li class="mr-3"><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                        </ul>
                        <div class="select-container select-container-sm">
                            <select class="select-container-select">
                                <option value="1">فارسی</option>
                                <option value="2">آلمانی</option>
                                <option value="3">اسپانیا</option>
                                <option value="4">فرانسه</option>
                                <option value="5">باهاسا اندونزی</option>
                                <option value="6">بنگلا</option>
                                <option value="7">日本語</option>
                                <option value="8">한국어</option>
                                <option value="9">هلند</option>
                                <option value="10">پولسکی</option>
                                <option value="11">پرتغالی ها</option>
                                <option value="12">رومانا</option>
                                <option value="13">Русский</option>
                                <option value="14">ภาษาไทย</option>
                                <option value="15">ترکچه</option>
                                <option value="16">中文 (简体)</option>
                                <option value="17">中文 (繁體)</option>
                                <option value="17">هندی</option>
                            </select>
                        </div>
                    </div>
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end copyright-content -->
</section><!-- end footer-area -->
<div id="scroll-top">
    <i class="la la-arrow-up" title="برو بالا"></i>
</div>
<div class="tooltip_templates">
    <div id="tooltip_content_1">
        <div class="card card-item">
            <div class="card-body">
                <p class="card-text pb-2">نوشته <a href="teacher-detail.html">خوزه پورتیلا</a></p>
                <h5 class="card-title pb-1"><a href="course-details.html">دوره تحلیلگر هوش تجاری 1400</a></h5>
                <div class="d-flex align-items-center pb-1">
                    <h6 class="ribbon fs-14 mr-2">کتاب پرفروش</h6>
                    <p class="text-success fs-14 font-weight-medium"><span class="font-weight-bold pl-1">آذر 1400</span>
                        به روز <span class="font-weight-bold pl-1">شد</span></p>
                </div>
                <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                    <li>23 ساعت در کل</li>
                    <li>همه مراحل</li>
                </ul>
                <p class="card-text pt-1 fs-14 lh-22">مهارت هایی که برای تبدیل شدن به یک تحلیلگر BI نیاز دارید - آمار،
                    نظریه پایگاه داده، SQL، جدول - همه چیز گنجانده شده است</p>
                <ul class="generic-list-item fs-14 py-3">
                    <li><i class="la la-check mr-1 text-black"></i> در آمار، SQL، جدول و حل مسئله متخصص شوید</li>
                    <li><i class="la la-check mr-1 text-black"></i> رزومه خود را با مهارت های مورد تقاضا تقویت کنید</li>
                    <li><i class="la la-check mr-1 text-black"></i> جمع آوری، سازماندهی، تجزیه و تحلیل و تجسم داده ها
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> به
                        سبد خرید اضافه کنید</a>
                    <div class="icon-element icon-element-sm shadow-sm cursor-pointer"
                         title="به لیست علاقه مندی ها اضافه کنید"><i class="la la-heart-o"></i></div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div><!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_2">
        <div class="card card-item">
            <div class="card-body">
                <p class="card-text pb-2">نوشته <a href="teacher-detail.html">خوزه پورتیلا</a></p>
                <h5 class="card-title pb-1"><a href="course-details.html">آموزش Ultimate Adobe Photoshop: از مبتدی تا
                    حرفه ای</a></h5>
                <div class="d-flex align-items-center pb-1">
                    <h6 class="ribbon fs-14 mr-2">کتاب پرفروش</h6>
                    <p class="text-success fs-14 font-weight-medium"><span class="font-weight-bold pl-1">آذر 1400</span>
                        به روز <span class="font-weight-bold pl-1">شد</span></p>
                </div>
                <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                    <li>23 ساعت در کل</li>
                    <li>همه مراحل</li>
                </ul>
                <p class="card-text pt-1 fs-14 lh-22">مهارت هایی که برای تبدیل شدن به یک تحلیلگر BI نیاز دارید - آمار،
                    نظریه پایگاه داده، SQL، جدول - همه چیز گنجانده شده است</p>
                <ul class="generic-list-item fs-14 py-3">
                    <li><i class="la la-check mr-1 text-black"></i> در آمار، SQL، جدول و حل مسئله متخصص شوید</li>
                    <li><i class="la la-check mr-1 text-black"></i> رزومه خود را با مهارت های مورد تقاضا تقویت کنید</li>
                    <li><i class="la la-check mr-1 text-black"></i> جمع آوری، سازماندهی، تجزیه و تحلیل و تجسم داده ها
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> به
                        سبد خرید اضافه کنید</a>
                    <div class="icon-element icon-element-sm shadow-sm cursor-pointer"
                         title="به لیست علاقه مندی ها اضافه کنید"><i class="la la-heart-o"></i></div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div><!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_3">
        <div class="card card-item">
            <div class="card-body">
                <p class="card-text pb-2">نوشته <a href="teacher-detail.html">خوزه پورتیلا</a></p>
                <h5 class="card-title pb-1"><a href="course-details.html">دوره کامل کسب و کار وب سایت وردپرس</a></h5>
                <div class="d-flex align-items-center pb-1">
                    <h6 class="ribbon fs-14 mr-2">کتاب پرفروش</h6>
                    <p class="text-success fs-14 font-weight-medium"><span class="font-weight-bold pl-1">آذر 1400</span>
                        به روز <span class="font-weight-bold pl-1">شد</span></p>
                </div>
                <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                    <li>23 ساعت در کل</li>
                    <li>همه مراحل</li>
                </ul>
                <p class="card-text pt-1 fs-14 lh-22">مهارت هایی که برای تبدیل شدن به یک تحلیلگر BI نیاز دارید - آمار،
                    نظریه پایگاه داده، SQL، جدول - همه چیز گنجانده شده است</p>
                <ul class="generic-list-item fs-14 py-3">
                    <li><i class="la la-check mr-1 text-black"></i> در آمار، SQL، جدول و حل مسئله متخصص شوید</li>
                    <li><i class="la la-check mr-1 text-black"></i> رزومه خود را با مهارت های مورد تقاضا تقویت کنید</li>
                    <li><i class="la la-check mr-1 text-black"></i> جمع آوری، سازماندهی، تجزیه و تحلیل و تجسم داده ها
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> به
                        سبد خرید اضافه کنید</a>
                    <div class="icon-element icon-element-sm shadow-sm cursor-pointer"
                         title="به لیست علاقه مندی ها اضافه کنید"><i class="la la-heart-o"></i></div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div><!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_4">
        <div class="card card-item">
            <div class="card-body">
                <p class="card-text pb-2">نوشته <a href="teacher-detail.html">خوزه پورتیلا</a></p>
                <h5 class="card-title pb-1"><a href="course-details.html">دوره نهایی طراحی - مبتدی تا پیشرفته</a></h5>
                <div class="d-flex align-items-center pb-1">
                    <h6 class="ribbon fs-14 mr-2">کتاب پرفروش</h6>
                    <p class="text-success fs-14 font-weight-medium"><span class="font-weight-bold pl-1">آذر 1400</span>
                        به روز <span class="font-weight-bold pl-1">شد</span></p>
                </div>
                <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                    <li>23 ساعت در کل</li>
                    <li>همه مراحل</li>
                </ul>
                <p class="card-text pt-1 fs-14 lh-22">مهارت هایی که برای تبدیل شدن به یک تحلیلگر BI نیاز دارید - آمار،
                    نظریه پایگاه داده، SQL، جدول - همه چیز گنجانده شده است</p>
                <ul class="generic-list-item fs-14 py-3">
                    <li><i class="la la-check mr-1 text-black"></i> در آمار، SQL، جدول و حل مسئله متخصص شوید</li>
                    <li><i class="la la-check mr-1 text-black"></i> رزومه خود را با مهارت های مورد تقاضا تقویت کنید</li>
                    <li><i class="la la-check mr-1 text-black"></i> جمع آوری، سازماندهی، تجزیه و تحلیل و تجسم داده ها
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> به
                        سبد خرید اضافه کنید</a>
                    <div class="icon-element icon-element-sm shadow-sm cursor-pointer"
                         title="به لیست علاقه مندی ها اضافه کنید"><i class="la la-heart-o"></i></div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div><!-- end tooltip_templates -->
<div class="tooltip_templates">
    <div id="tooltip_content_5">
        <div class="card card-item">
            <div class="card-body">
                <p class="card-text pb-2">نوشته <a href="teacher-detail.html">خوزه پورتیلا</a></p>
                <h5 class="card-title pb-1"><a href="course-details.html">دوره کامل دیجیتال مارکتینگ - 12 دوره در 1</a>
                </h5>
                <div class="d-flex align-items-center pb-1">
                    <h6 class="ribbon fs-14 mr-2">کتاب پرفروش</h6>
                    <p class="text-success fs-14 font-weight-medium"><span class="font-weight-bold pl-1">آذر 1400</span>
                        به روز <span class="font-weight-bold pl-1">شد</span></p>
                </div>
                <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                    <li>23 ساعت در کل</li>
                    <li>همه مراحل</li>
                </ul>
                <p class="card-text pt-1 fs-14 lh-22">مهارت هایی که برای تبدیل شدن به یک تحلیلگر BI نیاز دارید - آمار،
                    نظریه پایگاه داده، SQL، جدول - همه چیز گنجانده شده است</p>
                <ul class="generic-list-item fs-14 py-3">
                    <li><i class="la la-check mr-1 text-black"></i> در آمار، SQL، جدول و حل مسئله متخصص شوید</li>
                    <li><i class="la la-check mr-1 text-black"></i> رزومه خود را با مهارت های مورد تقاضا تقویت کنید</li>
                    <li><i class="la la-check mr-1 text-black"></i> جمع آوری، سازماندهی، تجزیه و تحلیل و تجسم داده ها
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> به
                        سبد خرید اضافه کنید</a>
                    <div class="icon-element icon-element-sm shadow-sm cursor-pointer"
                         title="به لیست علاقه مندی ها اضافه کنید"><i class="la la-heart-o"></i></div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div><!-- end tooltip_templates -->