{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}
{% load static %}

{% block title %}پروفایل - ایجاد سخنرانی{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">
        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر کوچک دانش آموز">
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- new lecture -->
            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">
                <h3 class="fs-22 font-weight-semi-bold">سخنرانی جدید</h3>
            </div>


            <!-- form lecture -->
            <form action=""
                  method="post"
                  class="MultiFile-intercepted"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="card card-item">
                    <div class="card-body">
                        <div class="row">

                            <!-- title -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">عنوان کلیپ</label>
                                    {{ form.title }}
                                </div>
                            </div>

                            <!-- slug -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label-text">اسلاگ</label>
                                    {{ form.slug }}
                                </div>
                            </div>

                            <!-- lecture -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">سخنرانی</label>
                                <div class="form-group">
                                    {{ form.lecture }}
                                </div>
                            </div>

                            <!-- short_description -->
                            <div class="input-box col-lg-12">
                                <label class="label-text">شرح کوتاه از کلیپ</label>
                                <div class="form-group">
                                    {{ form.short_description }}
                                </div>
                            </div>

                            <!-- video_url -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label-text">لینک کلیپ</label>
                                    {{ form.video_url }}
                                </div>
                            </div>

                            <!-- video -->
                            <div class="col-lg-12 mt-5">
                                <div class="form-group mb-0">
                                    <label class="label-text">فیلم کلیپ</label>
                                    <div class="input-box col-lg-12 mb-5">
                                        <div class="media media-card align-items-center">
                                            <div class="video-play-btn">
                                                {% if form.instance.video %}
                                                    <video controls>
                                                        <source src="{{ form.instance.video.url }}" type="video/mp4">
                                                    </video>
                                                {% else %}
                                                    <img class="mr-3" src="/static/images/team11.jpg"
                                                         alt="تصویر پیش‌فرض">
                                                {% endif %}
                                            </div>

                                        </div>
                                        {% if not read_only %}
                                            <div class="media-body mt-3">
                                                <div class="file-upload-wrap file-upload-wrap-2">
                                                    <div class="MultiFile-wrap" id="MultiFile2">
                                                        <input type="file" name="{{ form.video.name }}"
                                                               id="customFileInput" class="file-upload-input">
                                                        <div class="MultiFile-list" id="MultiFile2_list"></div>
                                                    </div>
                                                    <div class="file-upload-text">
                                                        <i class="la la-photo mr-2"></i>آپلود ویدیو
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- is_active -->
                            <div class="col-lg-6" style="margin-top: 40px;">
                                <div class="form-group">
                                    <label class="label-text mr-5">فعال</label>
                                    {{ form.is_active }}
                                </div>
                            </div>

                            <!-- is_delete -->
                            <div class="col-lg-6" style="margin-top: 40px;">
                                <div class="form-group">
                                    <label class="label-text mr-5">حذف شده</label>
                                    {{ form.is_delete }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                {% if not read_only %}
                    <div class="course-submit-btn-box pb-4">
                        <button class="btn theme-btn" type="submit">ذخیره سخنرانی</button>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>


{% endblock %}