{% extends 'shared/dashboard.html' %}
{% load shamsi_tags %}

{% block title %}پروفایل - لیست مقالات{% endblock %}

{% block content %}

    <div class="dashboard-content-wrap">
        <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i
                class="la la-bars mr-1"></i> منو
        </div>

        <!-- main content -->
        <div class="container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="media media-card align-items-center">
                    <div class="media-img media--img media-img-md rounded-full">
                        {% if request.user.avatar %}
                            <img class="rounded-full" src="{{ request.user.avatar.url }}" alt="تصویر آواتار">
                        {% else %}
                            <img class="rounded-full" src="/static/images/team11.jpg" alt="تصویر آواتار">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h2 class="section__title fs-30">{{ request.user.get_full_name }}</h2>
                        <div class="rating-wrap d-flex align-items-center pt-2">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20230)</span>
                        </div>
                    </div>
                </div>

                <a href="{% url 'userprofile_app:group_create' %}"
                   class="btn btn-info d-inline-flex align-items-center new-article-btn"
                   style="background-color: #e3f2fd; color: #1976d2; border-color: #b3e5fc; font-weight: bold;">
                    <i class="la la-plus mr-2"></i><span style="font-weight: bold;">ایجاد گروه جدید</span>
                </a>

            </div>

            <!-- group section -->
            <div class="section-block mb-5"></div>
            <div class="dashboard-heading mb-5">
                <h3 class="fs-22 font-weight-semi-bold">
                    لیست گروه ها
                    <span class="badge badge-primary pr-3 pl-3 pt-2 pb-2"
                          style="font-size: 14px; vertical-align: middle; margin-right: 8px;">{{ group_list.count }}</span>
                </h3>
            </div>

            <!-- group table -->
            <form method="post">
                {% csrf_token %}

                <!-- تب‌ها -->
                <ul class="nav nav-tabs generic-tab pb-30px" id="myTab" role="tablist">
                    {% for group in groups %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}"
                               id="group-{{ group.id }}-tab"
                               data-toggle="tab"
                               href="#group-{{ group.id }}"
                               role="tab"
                               aria-controls="group-{{ group.id }}"
                               aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                {{ group.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- محتوای تب‌ها -->
                <div class="tab-content" id="myTabContent">
                    {% for group in groups %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                             id="group-{{ group.id }}"
                             role="tabpanel"
                             aria-labelledby="group-{{ group.id }}-tab">

                            <div class="table-responsive pb-4">
                                <table class="table generic-table align-middle">
                                    <thead>
                                    <tr>
                                        <th scope="col">برنامه</th>
                                        <th scope="col" class="text-center">مدل</th>
                                        <th scope="col">ایجاد</th>
                                        <th scope="col">ویرایش</th>
                                        <th scope="col">حذف</th>
                                        <th scope="col">مشاهده</th>
                                        <th scope="col">انتشار</th>
                                        <th scope="col">رد</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for app, models in apps_dict.items %}
                                        <!-- ردیف عنوان برنامه -->
                                        <tr style="background-color:#f8f9fa; font-weight:bold;">
                                            <td colspan="8">{{ app }}</td>
                                        </tr>

                                        {% for model_name, model_data in models.items %}
                                            <tr>
                                                <td></td>
                                                <td class="text-center">{{ model_data.verbose }}</td>
                                                {% for action in actions %}
                                                    <td>
                                                        {% with codename=action|add:"_"|add:model_name %}
                                                            {% if codename in model_data.perms %}
                                                                <input type="checkbox"
                                                                       name="permissions_{{ group.id }}[]"
                                                                       value="{{ codename }}"
                                                                       {% if codename in group.codename_list %}checked{% endif %}>
                                                            {% else %}
                                                                &mdash;  {# خط تیره برای مجوز تعریف نشده #}
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                {% endfor %}

                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-5 mb-5" style="width:200px;">ذخیره</button>
            </form>
        </div>
    </div>

{% endblock %}